dev-o2/linkedTemplates/ArmTemplate_4.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "dev-o2"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/test_GetCurrentFilelist_Main')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "GetCurrentFilelist",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "test_GetCurrentFilelist",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"PPL_ImportDate": {
									"value": "@variables('CurrentDate')",
									"type": "Expression"
								},
								"PPL_RunID": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "GetCurrentDate",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "CurrentDate",
							"value": {
								"value": "select convert(varchar, getdate() - 1, 23)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Lookup1",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "GetCurrentDate",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "@variables('CurrentDate')",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_SQL_Generic",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					}
				],
				"variables": {
					"CurrentDate": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Test1"
				},
				"annotations": [],
				"lastPublishTime": "2020-10-19T06:29:30Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Run every night at 9pm')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "Load KPI to Datastore",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2020-11-11T16:44:00Z",
						"timeZone": "UTC",
						"schedule": {
							"minutes": [
								0
							],
							"hours": [
								21
							]
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PICDR Main Run History')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "PICDR Load Datastore History",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Create ETL Log Entry",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PICDR Load Datastore History",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"PPL_ImportDate": {
									"value": "@pipeline().parameters.PPL_ImportDateMaster",
									"type": "Expression"
								},
								"PPL_RunID": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Create ETL Log Entry",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[logging].[usp_InsertEtlLog]",
								"storedProcedureParameters": {
									"ComponentName": {
										"type": "String",
										"value": {
											"value": "PICDR Load Datastore History",
											"type": "Expression"
										}
									},
									"DurationSeconds": {
										"type": "Int32",
										"value": null
									},
									"EndTime": {
										"type": "DateTime",
										"value": null
									},
									"ErrorMessage": {
										"type": "String",
										"value": null
									},
									"PipelineName": {
										"type": "String",
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										}
									},
									"PipelineRunID": {
										"type": "String",
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										}
									},
									"StartTime": {
										"type": "DateTime",
										"value": {
											"value": "@utcnow()",
											"type": "Expression"
										}
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_SQL_Generic",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Update ETL Log Entry Success",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Check Seq No Success",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[logging].[usp_UpdateEtlLog]",
							"storedProcedureParameters": {
								"DurationSeconds": {
									"value": null,
									"type": "Int32"
								},
								"EndTime": {
									"value": {
										"value": "@utcnow()",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"ErrorMessage": {
									"value": null,
									"type": "String"
								},
								"EtlLogId": {
									"value": {
										"value": "@activity('Create ETL Log Entry').output.firstRow.EtlLogId",
										"type": "Expression"
									},
									"type": "Int32"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LN_SQL_DevDatahub",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Update ETL Log Entry Failure",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Check Seq No Failure",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[logging].[usp_UpdateEtlLog]",
							"storedProcedureParameters": {
								"DurationSeconds": {
									"value": null,
									"type": "Int32"
								},
								"EndTime": {
									"value": {
										"value": "@utcnow()",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"ErrorMessage": {
									"value": {
										"value": "ERR Run - see detailed log",
										"type": "Expression"
									},
									"type": "String"
								},
								"EtlLogId": {
									"value": {
										"value": "@activity('Create ETL Log Entry').output.firstRow.EtlLogId",
										"type": "Expression"
									},
									"type": "Int32"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LN_SQL_DevDatahub",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Check Seq No Success",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "PICDR Load Datastore History",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[staging].[usp_CheckSeqNo]"
						},
						"linkedServiceName": {
							"referenceName": "LN_SQL_DevDatahub",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Check Seq No Failure",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "PICDR Load Datastore History",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[staging].[usp_CheckSeqNo]"
						},
						"linkedServiceName": {
							"referenceName": "LN_SQL_DevDatahub",
							"type": "LinkedServiceReference"
						}
					}
				],
				"parameters": {
					"PPL_ImportDateMaster": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Dev_PICDR"
				},
				"annotations": [],
				"lastPublishTime": "2020-10-19T06:29:30Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PICDR Main Run Par Agg Full')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "PICDR Load Datastore Par",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Create ETL Log Entry",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PICDR Load Datastore Par",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"PPL_ImportDate": {
									"value": "@pipeline().parameters.PPL_ImportDateMaster",
									"type": "Expression"
								},
								"PPL_RunID": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Create ETL Log Entry",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[logging].[usp_InsertEtlLog]",
								"storedProcedureParameters": {
									"ComponentName": {
										"type": "String",
										"value": {
											"value": "PICDR Load Datastore Par",
											"type": "Expression"
										}
									},
									"DurationSeconds": {
										"type": "Int32",
										"value": null
									},
									"EndTime": {
										"type": "DateTime",
										"value": null
									},
									"ErrorMessage": {
										"type": "String",
										"value": null
									},
									"PipelineName": {
										"type": "String",
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										}
									},
									"PipelineRunID": {
										"type": "String",
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										}
									},
									"StartTime": {
										"type": "DateTime",
										"value": {
											"value": "@utcnow()",
											"type": "Expression"
										}
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_SQL_Generic",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Update ETL Log Entry Success",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Check Seq No Success",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[logging].[usp_UpdateEtlLog]",
							"storedProcedureParameters": {
								"DurationSeconds": {
									"value": null,
									"type": "Int32"
								},
								"EndTime": {
									"value": {
										"value": "@utcnow()",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"ErrorMessage": {
									"value": null,
									"type": "String"
								},
								"EtlLogId": {
									"value": {
										"value": "@activity('Create ETL Log Entry').output.firstRow.EtlLogId",
										"type": "Expression"
									},
									"type": "Int32"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LN_SQL_DevDatahub",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Update ETL Log Entry Failure",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Check Seq No Failure",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[logging].[usp_UpdateEtlLog]",
							"storedProcedureParameters": {
								"DurationSeconds": {
									"value": null,
									"type": "Int32"
								},
								"EndTime": {
									"value": {
										"value": "@utcnow()",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"ErrorMessage": {
									"value": {
										"value": "ERR Run - see detailed log",
										"type": "Expression"
									},
									"type": "String"
								},
								"EtlLogId": {
									"value": {
										"value": "@activity('Create ETL Log Entry').output.firstRow.EtlLogId",
										"type": "Expression"
									},
									"type": "Int32"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LN_SQL_DevDatahub",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Check Seq No Success",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "PICDR Load Datastore Par",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[staging].[usp_CheckSeqNo]"
						},
						"linkedServiceName": {
							"referenceName": "LN_SQL_DevDatahub",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Check Seq No Failure",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "PICDR Load Datastore Par",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[staging].[usp_CheckSeqNo]"
						},
						"linkedServiceName": {
							"referenceName": "LN_SQL_DevDatahub",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Create ETL Log Entry Agg 1",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Update ETL Log Entry Success",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[logging].[usp_InsertEtlLog]",
								"storedProcedureParameters": {
									"ComponentName": {
										"type": "String",
										"value": {
											"value": "PICDR Load Agg Full",
											"type": "Expression"
										}
									},
									"DurationSeconds": {
										"type": "Int32",
										"value": null
									},
									"EndTime": {
										"type": "DateTime",
										"value": null
									},
									"ErrorMessage": {
										"type": "String",
										"value": null
									},
									"PipelineName": {
										"type": "String",
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										}
									},
									"PipelineRunID": {
										"type": "String",
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										}
									},
									"StartTime": {
										"type": "DateTime",
										"value": {
											"value": "@utcnow()",
											"type": "Expression"
										}
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_SQL_Generic",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "PICDR Load Agg Full 1",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Create ETL Log Entry Agg 1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PICDR Load Agg Full",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"PPL_RunID": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Update ETL Log Entry Agg Success 1",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "PICDR Load Agg Full 1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[logging].[usp_UpdateEtlLog]",
							"storedProcedureParameters": {
								"DurationSeconds": {
									"value": null,
									"type": "Int32"
								},
								"EndTime": {
									"value": {
										"value": "@utcnow()",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"ErrorMessage": {
									"value": null,
									"type": "String"
								},
								"EtlLogId": {
									"value": {
										"value": "@activity('Create ETL Log Entry Agg 1').output.firstRow.EtlLogId",
										"type": "Expression"
									},
									"type": "Int32"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LN_SQL_DevDatahub",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Update ETL Log Entry Agg Failure 1",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "PICDR Load Agg Full 1",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[logging].[usp_UpdateEtlLog]",
							"storedProcedureParameters": {
								"DurationSeconds": {
									"value": null,
									"type": "Int32"
								},
								"EndTime": {
									"value": {
										"value": "@utcnow()",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"ErrorMessage": {
									"value": {
										"value": "ERR Run - see detailed log",
										"type": "Expression"
									},
									"type": "String"
								},
								"EtlLogId": {
									"value": {
										"value": "@activity('Create ETL Log Entry Agg 1').output.firstRow.EtlLogId",
										"type": "Expression"
									},
									"type": "Int32"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LN_SQL_DevDatahub",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Create ETL Log Entry Agg 2",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Update ETL Log Entry Failure",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[logging].[usp_InsertEtlLog]",
								"storedProcedureParameters": {
									"ComponentName": {
										"type": "String",
										"value": {
											"value": "PICDR Load Agg Full",
											"type": "Expression"
										}
									},
									"DurationSeconds": {
										"type": "Int32",
										"value": null
									},
									"EndTime": {
										"type": "DateTime",
										"value": null
									},
									"ErrorMessage": {
										"type": "String",
										"value": null
									},
									"PipelineName": {
										"type": "String",
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										}
									},
									"PipelineRunID": {
										"type": "String",
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										}
									},
									"StartTime": {
										"type": "DateTime",
										"value": {
											"value": "@utcnow()",
											"type": "Expression"
										}
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_SQL_Generic",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "PICDR Load Agg Full 2",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Create ETL Log Entry Agg 2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PICDR Load Agg Full",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"PPL_RunID": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Update ETL Log Entry Agg Success 2",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "PICDR Load Agg Full 2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[logging].[usp_UpdateEtlLog]",
							"storedProcedureParameters": {
								"DurationSeconds": {
									"value": null,
									"type": "Int32"
								},
								"EndTime": {
									"value": {
										"value": "@utcnow()",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"ErrorMessage": {
									"value": null,
									"type": "String"
								},
								"EtlLogId": {
									"value": {
										"value": "@activity('Create ETL Log Entry Agg 2').output.firstRow.EtlLogId",
										"type": "Expression"
									},
									"type": "Int32"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LN_SQL_DevDatahub",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Update ETL Log Entry Agg Failure 2",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "PICDR Load Agg Full 2",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[logging].[usp_UpdateEtlLog]",
							"storedProcedureParameters": {
								"DurationSeconds": {
									"value": null,
									"type": "Int32"
								},
								"EndTime": {
									"value": {
										"value": "@utcnow()",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"ErrorMessage": {
									"value": {
										"value": "ERR Run - see detailed log",
										"type": "Expression"
									},
									"type": "String"
								},
								"EtlLogId": {
									"value": {
										"value": "@activity('Create ETL Log Entry Agg 2').output.firstRow.EtlLogId",
										"type": "Expression"
									},
									"type": "Int32"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LN_SQL_DevDatahub",
							"type": "LinkedServiceReference"
						}
					}
				],
				"parameters": {
					"PPL_ImportDateMaster": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Dev_PICDR"
				},
				"annotations": [],
				"lastPublishTime": "2020-10-19T06:29:30Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PICDR Main Run Par Agg Inc')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "PICDR Load Datastore Par",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Create ETL Log Entry",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PICDR Load Datastore Par",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"PPL_ImportDate": {
									"value": "@pipeline().parameters.PPL_ImportDateMaster",
									"type": "Expression"
								},
								"PPL_RunID": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Create ETL Log Entry",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[logging].[usp_InsertEtlLog]",
								"storedProcedureParameters": {
									"ComponentName": {
										"type": "String",
										"value": {
											"value": "PICDR Load Datastore Par",
											"type": "Expression"
										}
									},
									"DurationSeconds": {
										"type": "Int32",
										"value": null
									},
									"EndTime": {
										"type": "DateTime",
										"value": null
									},
									"ErrorMessage": {
										"type": "String",
										"value": null
									},
									"PipelineName": {
										"type": "String",
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										}
									},
									"PipelineRunID": {
										"type": "String",
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										}
									},
									"StartTime": {
										"type": "DateTime",
										"value": {
											"value": "@utcnow()",
											"type": "Expression"
										}
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_SQL_Generic",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Update ETL Log Entry Success",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Check Seq No Success",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[logging].[usp_UpdateEtlLog]",
							"storedProcedureParameters": {
								"DurationSeconds": {
									"value": null,
									"type": "Int32"
								},
								"EndTime": {
									"value": {
										"value": "@utcnow()",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"ErrorMessage": {
									"value": null,
									"type": "String"
								},
								"EtlLogId": {
									"value": {
										"value": "@activity('Create ETL Log Entry').output.firstRow.EtlLogId",
										"type": "Expression"
									},
									"type": "Int32"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LN_SQL_DevDatahub",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Update ETL Log Entry Failure",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Check Seq No Failure",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[logging].[usp_UpdateEtlLog]",
							"storedProcedureParameters": {
								"DurationSeconds": {
									"value": null,
									"type": "Int32"
								},
								"EndTime": {
									"value": {
										"value": "@utcnow()",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"ErrorMessage": {
									"value": {
										"value": "ERR Run - see detailed log",
										"type": "Expression"
									},
									"type": "String"
								},
								"EtlLogId": {
									"value": {
										"value": "@activity('Create ETL Log Entry').output.firstRow.EtlLogId",
										"type": "Expression"
									},
									"type": "Int32"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LN_SQL_DevDatahub",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Check Seq No Success",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "PICDR Load Datastore Par",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[staging].[usp_CheckSeqNo]"
						},
						"linkedServiceName": {
							"referenceName": "LN_SQL_DevDatahub",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Check Seq No Failure",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "PICDR Load Datastore Par",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[staging].[usp_CheckSeqNo]"
						},
						"linkedServiceName": {
							"referenceName": "LN_SQL_DevDatahub",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Create ETL Log Entry Agg 1",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Update ETL Log Entry Success",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[logging].[usp_InsertEtlLog]",
								"storedProcedureParameters": {
									"ComponentName": {
										"type": "String",
										"value": {
											"value": "PICDR Load Agg Inc",
											"type": "Expression"
										}
									},
									"DurationSeconds": {
										"type": "Int32",
										"value": null
									},
									"EndTime": {
										"type": "DateTime",
										"value": null
									},
									"ErrorMessage": {
										"type": "String",
										"value": null
									},
									"PipelineName": {
										"type": "String",
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										}
									},
									"PipelineRunID": {
										"type": "String",
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										}
									},
									"StartTime": {
										"type": "DateTime",
										"value": {
											"value": "@utcnow()",
											"type": "Expression"
										}
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_SQL_Generic",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "PICDR Load Agg Inc 1",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Create ETL Log Entry Agg 1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PICDR Load Agg Inc",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"PPL_RunID": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Update ETL Log Entry Agg Success 1",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "PICDR Load Agg Inc 1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[logging].[usp_UpdateEtlLog]",
							"storedProcedureParameters": {
								"DurationSeconds": {
									"value": null,
									"type": "Int32"
								},
								"EndTime": {
									"value": {
										"value": "@utcnow()",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"ErrorMessage": {
									"value": null,
									"type": "String"
								},
								"EtlLogId": {
									"value": {
										"value": "@activity('Create ETL Log Entry Agg 1').output.firstRow.EtlLogId",
										"type": "Expression"
									},
									"type": "Int32"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LN_SQL_DevDatahub",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Update ETL Log Entry Agg Failure 1",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "PICDR Load Agg Inc 1",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[logging].[usp_UpdateEtlLog]",
							"storedProcedureParameters": {
								"DurationSeconds": {
									"value": null,
									"type": "Int32"
								},
								"EndTime": {
									"value": {
										"value": "@utcnow()",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"ErrorMessage": {
									"value": {
										"value": "ERR Run - see detailed log",
										"type": "Expression"
									},
									"type": "String"
								},
								"EtlLogId": {
									"value": {
										"value": "@activity('Create ETL Log Entry Agg 1').output.firstRow.EtlLogId",
										"type": "Expression"
									},
									"type": "Int32"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LN_SQL_DevDatahub",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Create ETL Log Entry Agg 2",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Update ETL Log Entry Failure",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[logging].[usp_InsertEtlLog]",
								"storedProcedureParameters": {
									"ComponentName": {
										"type": "String",
										"value": {
											"value": "PICDR Load Agg Inc",
											"type": "Expression"
										}
									},
									"DurationSeconds": {
										"type": "Int32",
										"value": null
									},
									"EndTime": {
										"type": "DateTime",
										"value": null
									},
									"ErrorMessage": {
										"type": "String",
										"value": null
									},
									"PipelineName": {
										"type": "String",
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										}
									},
									"PipelineRunID": {
										"type": "String",
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										}
									},
									"StartTime": {
										"type": "DateTime",
										"value": {
											"value": "@utcnow()",
											"type": "Expression"
										}
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_SQL_Generic",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "PICDR Load Agg Inc 2",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Create ETL Log Entry Agg 2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PICDR Load Agg Inc",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"PPL_RunID": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Update ETL Log Entry Agg Success 2",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "PICDR Load Agg Inc 2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[logging].[usp_UpdateEtlLog]",
							"storedProcedureParameters": {
								"DurationSeconds": {
									"value": null,
									"type": "Int32"
								},
								"EndTime": {
									"value": {
										"value": "@utcnow()",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"ErrorMessage": {
									"value": null,
									"type": "String"
								},
								"EtlLogId": {
									"value": {
										"value": "@activity('Create ETL Log Entry Agg 2').output.firstRow.EtlLogId",
										"type": "Expression"
									},
									"type": "Int32"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LN_SQL_DevDatahub",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Update ETL Log Entry Agg Failure 2",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "PICDR Load Agg Inc 2",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[logging].[usp_UpdateEtlLog]",
							"storedProcedureParameters": {
								"DurationSeconds": {
									"value": null,
									"type": "Int32"
								},
								"EndTime": {
									"value": {
										"value": "@utcnow()",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"ErrorMessage": {
									"value": {
										"value": "ERR Run - see detailed log",
										"type": "Expression"
									},
									"type": "String"
								},
								"EtlLogId": {
									"value": {
										"value": "@activity('Create ETL Log Entry Agg 2').output.firstRow.EtlLogId",
										"type": "Expression"
									},
									"type": "Int32"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LN_SQL_DevDatahub",
							"type": "LinkedServiceReference"
						}
					}
				],
				"parameters": {
					"PPL_ImportDateMaster": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Dev_PICDR"
				},
				"annotations": [],
				"lastPublishTime": "2020-10-19T06:29:30Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PICDR Main Run Par Man')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "PICDR Load Datastore Par Man",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Create ETL Log Entry",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PICDR Load Datastore Par Man",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"PPL_ImportDate": {
									"value": "@pipeline().parameters.PPL_ImportDateMaster",
									"type": "Expression"
								},
								"PPL_RunID": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Create ETL Log Entry",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[logging].[usp_InsertEtlLog]",
								"storedProcedureParameters": {
									"ComponentName": {
										"type": "String",
										"value": {
											"value": "PICDR Load Datastore Par Man",
											"type": "Expression"
										}
									},
									"DurationSeconds": {
										"type": "Int32",
										"value": null
									},
									"EndTime": {
										"type": "DateTime",
										"value": null
									},
									"ErrorMessage": {
										"type": "String",
										"value": null
									},
									"PipelineName": {
										"type": "String",
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										}
									},
									"PipelineRunID": {
										"type": "String",
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										}
									},
									"StartTime": {
										"type": "DateTime",
										"value": {
											"value": "@utcnow()",
											"type": "Expression"
										}
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_SQL_Generic",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Update ETL Log Entry Success",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Check Seq No Success",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[logging].[usp_UpdateEtlLog]",
							"storedProcedureParameters": {
								"DurationSeconds": {
									"value": null,
									"type": "Int32"
								},
								"EndTime": {
									"value": {
										"value": "@utcnow()",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"ErrorMessage": {
									"value": null,
									"type": "String"
								},
								"EtlLogId": {
									"value": {
										"value": "@activity('Create ETL Log Entry').output.firstRow.EtlLogId",
										"type": "Expression"
									},
									"type": "Int32"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LN_SQL_DevDatahub",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Update ETL Log Entry Failure",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Check Seq No Failure",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[logging].[usp_UpdateEtlLog]",
							"storedProcedureParameters": {
								"DurationSeconds": {
									"value": null,
									"type": "Int32"
								},
								"EndTime": {
									"value": {
										"value": "@utcnow()",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"ErrorMessage": {
									"value": {
										"value": "ERR Run - see detailed log",
										"type": "Expression"
									},
									"type": "String"
								},
								"EtlLogId": {
									"value": {
										"value": "@activity('Create ETL Log Entry').output.firstRow.EtlLogId",
										"type": "Expression"
									},
									"type": "Int32"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LN_SQL_DevDatahub",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Check Seq No Success",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "PICDR Load Datastore Par Man",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[staging].[usp_CheckSeqNo]"
						},
						"linkedServiceName": {
							"referenceName": "LN_SQL_DevDatahub",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Check Seq No Failure",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "PICDR Load Datastore Par Man",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[staging].[usp_CheckSeqNo]"
						},
						"linkedServiceName": {
							"referenceName": "LN_SQL_DevDatahub",
							"type": "LinkedServiceReference"
						}
					}
				],
				"parameters": {
					"PPL_ImportDateMaster": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Dev_PICDR"
				},
				"annotations": [],
				"lastPublishTime": "2020-10-19T06:29:30Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PICDR Main Run Par')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "PICDR Load Datastore Par",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Create ETL Log Entry",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PICDR Load Datastore Par",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"PPL_ImportDate": {
									"value": "@pipeline().parameters.PPL_ImportDateMaster",
									"type": "Expression"
								},
								"PPL_RunID": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Create ETL Log Entry",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[logging].[usp_InsertEtlLog]",
								"storedProcedureParameters": {
									"ComponentName": {
										"type": "String",
										"value": {
											"value": "PICDR Load Datastore Par",
											"type": "Expression"
										}
									},
									"DurationSeconds": {
										"type": "Int32",
										"value": null
									},
									"EndTime": {
										"type": "DateTime",
										"value": null
									},
									"ErrorMessage": {
										"type": "String",
										"value": null
									},
									"PipelineName": {
										"type": "String",
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										}
									},
									"PipelineRunID": {
										"type": "String",
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										}
									},
									"StartTime": {
										"type": "DateTime",
										"value": {
											"value": "@utcnow()",
											"type": "Expression"
										}
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_SQL_Generic",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Update ETL Log Entry Success",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Check Seq No Success",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[logging].[usp_UpdateEtlLog]",
							"storedProcedureParameters": {
								"DurationSeconds": {
									"value": null,
									"type": "Int32"
								},
								"EndTime": {
									"value": {
										"value": "@utcnow()",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"ErrorMessage": {
									"value": null,
									"type": "String"
								},
								"EtlLogId": {
									"value": {
										"value": "@activity('Create ETL Log Entry').output.firstRow.EtlLogId",
										"type": "Expression"
									},
									"type": "Int32"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LN_SQL_DevDatahub",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Update ETL Log Entry Failure",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Check Seq No Failure",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[logging].[usp_UpdateEtlLog]",
							"storedProcedureParameters": {
								"DurationSeconds": {
									"value": null,
									"type": "Int32"
								},
								"EndTime": {
									"value": {
										"value": "@utcnow()",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"ErrorMessage": {
									"value": {
										"value": "ERR Run - see detailed log",
										"type": "Expression"
									},
									"type": "String"
								},
								"EtlLogId": {
									"value": {
										"value": "@activity('Create ETL Log Entry').output.firstRow.EtlLogId",
										"type": "Expression"
									},
									"type": "Int32"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LN_SQL_DevDatahub",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Check Seq No Success",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "PICDR Load Datastore Par",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[staging].[usp_CheckSeqNo]"
						},
						"linkedServiceName": {
							"referenceName": "LN_SQL_DevDatahub",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Check Seq No Failure",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "PICDR Load Datastore Par",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[staging].[usp_CheckSeqNo]"
						},
						"linkedServiceName": {
							"referenceName": "LN_SQL_DevDatahub",
							"type": "LinkedServiceReference"
						}
					}
				],
				"parameters": {
					"PPL_ImportDateMaster": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Dev_PICDR"
				},
				"annotations": [],
				"lastPublishTime": "2020-10-19T06:29:30Z"
			},
			"dependsOn": []
		}
	]
}