dev-o2/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "dev-o2"
		},
		"LN_BLOB_addufrain1_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'LN_BLOB_addufrain1'"
		},
		"LN_ONPREM_vmdevdb_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'LN_ONPREM_vmdevdb'"
		},
		"LN_ONPREM_vmdevdb_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'LN_ONPREM_vmdevdb'"
		},
		"LN_SQL_DevDatahub_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'LN_SQL_DevDatahub'"
		},
		"LN_HTTP_PICDR_FileRef_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "@{concat('https://api.o2-cloudportal.co.uk/o2cdr/File/', linkedService().PLN_FileRef)}"
		},
		"LN_HTTP_PICDR_FileRef_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "Dufrain"
		},
		"LN_HTTP_ZipFile_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://api.o2-cloudportal.co.uk/o2cdr/File/JokWzDN4AFk---3d"
		},
		"LN_HTTP_ZipFile_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "Dufrain"
		},
		"LN_KV_DufrainVault_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://DufrainVault.vault.azure.net/"
		},
		"LN_ONPREM_vmdevdb_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "AD\\Bojan.Ajlec"
		},
		"LN_REST_ListOfFiles_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://api.o2-cloudportal.co.uk/o2cdr/File/JokWzDN4AFk---3d"
		},
		"LN_REST_ListOfFiles_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "Dufrain"
		},
		"LN_REST_PICDR_FileList_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "@{concat('https://api.o2-cloudportal.co.uk/o2cdr/File/list/', linkedService().PLN_ImportDate)}"
		},
		"LN_REST_PICDR_FileList_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "Dufrain"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Copy onprem to blob')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".csv"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_Test1_ONPREM_Datastore_SubscriberCCBar",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_Test1_BLOB_Generic",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"folder": {
					"name": "Test1"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_Test1_ONPREM_Datastore_SubscriberCCBar')]",
				"[concat(variables('factoryId'), '/datasets/DS_Test1_BLOB_Generic')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Get List Of Files REST API')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get List Of FIles",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET"
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "DS_Test1_REST_ListOfFiles",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_Test1_BLOB_ListOfFiles",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"folder": {
					"name": "Test1"
				},
				"annotations": [],
				"lastPublishTime": "2020-10-09T17:19:14Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_Test1_REST_ListOfFiles')]",
				"[concat(variables('factoryId'), '/datasets/DS_Test1_BLOB_ListOfFiles')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Get Zip File From REST')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "HttpReadSettings",
									"requestMethod": "GET"
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "DS_Test1_HTTP_ZipFile",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_Test1_BLOB_ZipFile",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"folder": {
					"name": "Test1"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_Test1_HTTP_ZipFile')]",
				"[concat(variables('factoryId'), '/datasets/DS_Test1_BLOB_ZipFile')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Load O2 Files To Stage')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get File List",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE [staging].[FileLoadDefinition]",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "$['fileRefID']"
										},
										"sink": {
											"name": "FileRefID",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['fileName']"
										},
										"sink": {
											"name": "FileName",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['importDate']"
										},
										"sink": {
											"name": "ImportDate",
											"type": "DateTime"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "DS_BLOB_FileList",
								"type": "DatasetReference",
								"parameters": {
									"PDS_FileName": {
										"value": "@pipeline().parameters.PPL_ImportDate",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_SQL_FileLoadDefinition",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Derived Column",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Get File List",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[staging].[usp_DerivedColumn]"
						},
						"linkedServiceName": {
							"referenceName": "LN_SQL_DevDatahub",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Filter On New Files",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Derived Column",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT * FROM [staging].[FileLoadDefinition]\nWHERE FileRefID NOT IN (SELECT FileRefID FROM [staging].[FileLog])",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_SQL_FileLoadDefinition",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "File Iteration",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Filter On New Files",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Filter On New Files').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Zip to Csv",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings",
												"compressionProperties": {
													"type": "ZipDeflateReadSettings",
													"preserveZipFileNameAsFolder": false
												}
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "DS_BLOB_Zip",
											"type": "DatasetReference",
											"parameters": {
												"PDS_FileName": {
													"value": "@{item().FileName}",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DS_BLOB_CsvSink",
											"type": "DatasetReference",
											"parameters": {
												"PDS_FileName": {
													"value": "@{item().FileName}",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "Clean NO - Clean YES",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "Zip to Csv",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@bool(equals(item().ColumnsToClean, ''))",
											"type": "Expression"
										},
										"ifFalseActivities": [
											{
												"name": "Whitespace Cleaning",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "Load Stage - Cleaned",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[[staging].[usp_CleanUp]",
													"storedProcedureParameters": {
														"ColumnArray": {
															"value": {
																"value": "@{item().ColumnsToClean}",
																"type": "Expression"
															},
															"type": "String"
														},
														"SourceTableName": {
															"value": {
																"value": "@{concat('stg_', item().SinkTable)}",
																"type": "Expression"
															},
															"type": "String"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "LN_SQL_DevDatahub",
													"type": "LinkedServiceReference"
												}
											},
											{
												"name": "Load Stage - Cleaned",
												"type": "Copy",
												"dependsOn": [
													{
														"activity": "Truncate Cleaned",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "DelimitedTextSource",
														"storeSettings": {
															"type": "AzureBlobStorageReadSettings",
															"recursive": true
														},
														"formatSettings": {
															"type": "DelimitedTextReadSettings"
														}
													},
													"sink": {
														"type": "AzureSqlSink"
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "DS_BLOB_CsvSource",
														"type": "DatasetReference",
														"parameters": {
															"PDS_FileName": {
																"value": "@{item().FileName}",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "DS_SQL_StageTable",
														"type": "DatasetReference",
														"parameters": {
															"PDS_TableSchema": {
																"value": "@{item().SinkSchema}",
																"type": "Expression"
															},
															"PDS_TableName": {
																"value": "@{item().SinkTable}",
																"type": "Expression"
															}
														}
													}
												]
											},
											{
												"name": "Insert File Log - Cleaned Succ",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "Whitespace Cleaning",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[[staging].[usp_InsertFileLog]",
													"storedProcedureParameters": {
														"ComponentName": {
															"value": {
																"value": "@pipeline().Pipeline",
																"type": "Expression"
															},
															"type": "String"
														},
														"ErrorMessage": {
															"value": null,
															"type": "String"
														},
														"FileName": {
															"value": {
																"value": "@{item().FileName}",
																"type": "Expression"
															},
															"type": "String"
														},
														"FileRefID": {
															"value": {
																"value": "@{item().FileRefID}",
																"type": "Expression"
															},
															"type": "String"
														},
														"FileSeqno": {
															"value": {
																"value": "@{item().FileSeqNo}",
																"type": "Expression"
															},
															"type": "Int32"
														},
														"FileType": {
															"value": {
																"value": "@{item().FileType}",
																"type": "Expression"
															},
															"type": "Int32"
														},
														"ImportDate": {
															"value": {
																"value": "@{item().ImportDate}",
																"type": "Expression"
															},
															"type": "DateTime"
														},
														"InsertRows": {
															"value": {
																"value": "@activity('Load Stage - Cleaned').output.rowsCopied",
																"type": "Expression"
															},
															"type": "Int32"
														},
														"InsertTime": {
															"value": {
																"value": "@utcnow()",
																"type": "Expression"
															},
															"type": "DateTime"
														},
														"PipelineRunID": {
															"value": {
																"value": "@pipeline().parameters.PPL_RunID",
																"type": "Expression"
															},
															"type": "String"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "LN_SQL_DevDatahub",
													"type": "LinkedServiceReference"
												}
											},
											{
												"name": "Truncate Cleaned",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[[staging].[usp_Truncate]",
													"storedProcedureParameters": {
														"TableName": {
															"value": {
																"value": "@{concat('stg_', item().SinkTable)}",
																"type": "Expression"
															},
															"type": "String"
														},
														"TableSchema": {
															"value": {
																"value": "@{item().SinkSchema}",
																"type": "Expression"
															},
															"type": "String"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "LN_SQL_DevDatahub",
													"type": "LinkedServiceReference"
												}
											},
											{
												"name": "Insert File Log - Cleaned Fail",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "Load Stage - Cleaned",
														"dependencyConditions": [
															"Failed"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[[staging].[usp_InsertFileLog]",
													"storedProcedureParameters": {
														"ComponentName": {
															"value": {
																"value": "@pipeline().Pipeline",
																"type": "Expression"
															},
															"type": "String"
														},
														"ErrorMessage": {
															"value": {
																"value": "@{activity('Load Stage - Cleaned').output.errors[0].Message}",
																"type": "Expression"
															},
															"type": "String"
														},
														"FileName": {
															"value": {
																"value": "@{item().FileName}",
																"type": "Expression"
															},
															"type": "String"
														},
														"FileRefID": {
															"value": {
																"value": "@{item().FileRefID}",
																"type": "Expression"
															},
															"type": "String"
														},
														"FileSeqno": {
															"value": {
																"value": "@{item().FileSeqNo}",
																"type": "Expression"
															},
															"type": "Int32"
														},
														"FileType": {
															"value": {
																"value": "@{item().FileType}",
																"type": "Expression"
															},
															"type": "Int32"
														},
														"ImportDate": {
															"value": {
																"value": "@{item().ImportDate}",
																"type": "Expression"
															},
															"type": "DateTime"
														},
														"InsertRows": {
															"value": {
																"value": "@activity('Load Stage - Cleaned').output.rowsCopied",
																"type": "Expression"
															},
															"type": "Int32"
														},
														"InsertTime": {
															"value": {
																"value": "@utcnow()",
																"type": "Expression"
															},
															"type": "DateTime"
														},
														"PipelineRunID": {
															"value": {
																"value": "@pipeline().parameters.PPL_RunID",
																"type": "Expression"
															},
															"type": "String"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "LN_SQL_DevDatahub",
													"type": "LinkedServiceReference"
												}
											}
										],
										"ifTrueActivities": [
											{
												"name": "Load Stage - Uncleaned",
												"type": "Copy",
												"dependsOn": [
													{
														"activity": "Truncate Uncleaned",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "DelimitedTextSource",
														"storeSettings": {
															"type": "AzureBlobStorageReadSettings",
															"recursive": true
														},
														"formatSettings": {
															"type": "DelimitedTextReadSettings"
														}
													},
													"sink": {
														"type": "AzureSqlSink"
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "DS_BLOB_CsvSource",
														"type": "DatasetReference",
														"parameters": {
															"PDS_FileName": {
																"value": "@{item().FileName}",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "DS_SQL_StageTable",
														"type": "DatasetReference",
														"parameters": {
															"PDS_TableSchema": {
																"value": "@{item().SinkSchema}",
																"type": "Expression"
															},
															"PDS_TableName": {
																"value": "@{item().SinkTable}",
																"type": "Expression"
															}
														}
													}
												]
											},
											{
												"name": "Insert File Log - Uncleaned Succ",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "Load Stage - Uncleaned",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[[staging].[usp_InsertFileLog]",
													"storedProcedureParameters": {
														"ComponentName": {
															"value": {
																"value": "@pipeline().Pipeline",
																"type": "Expression"
															},
															"type": "String"
														},
														"ErrorMessage": {
															"value": null,
															"type": "String"
														},
														"FileName": {
															"value": {
																"value": "@{item().FileName}",
																"type": "Expression"
															},
															"type": "String"
														},
														"FileRefID": {
															"value": {
																"value": "@{item().FileRefID}",
																"type": "Expression"
															},
															"type": "String"
														},
														"FileSeqno": {
															"value": {
																"value": "@{item().FileSeqNo}",
																"type": "Expression"
															},
															"type": "Int32"
														},
														"FileType": {
															"value": {
																"value": "@{item().FileType}",
																"type": "Expression"
															},
															"type": "Int32"
														},
														"ImportDate": {
															"value": {
																"value": "@{item().ImportDate}",
																"type": "Expression"
															},
															"type": "DateTime"
														},
														"InsertRows": {
															"value": {
																"value": "@activity('Load Stage - Uncleaned').output.rowsCopied",
																"type": "Expression"
															},
															"type": "Int32"
														},
														"InsertTime": {
															"value": {
																"value": "@utcnow()",
																"type": "Expression"
															},
															"type": "DateTime"
														},
														"PipelineRunID": {
															"value": {
																"value": "@pipeline().parameters.PPL_RunID",
																"type": "Expression"
															},
															"type": "String"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "LN_SQL_DevDatahub",
													"type": "LinkedServiceReference"
												}
											},
											{
												"name": "Truncate Uncleaned",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[[staging].[usp_Truncate]",
													"storedProcedureParameters": {
														"TableName": {
															"value": {
																"value": "@{concat('stg_', item().SinkTable)}",
																"type": "Expression"
															},
															"type": "String"
														},
														"TableSchema": {
															"value": {
																"value": "@{item().SinkSchema}",
																"type": "Expression"
															},
															"type": "String"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "LN_SQL_DevDatahub",
													"type": "LinkedServiceReference"
												}
											},
											{
												"name": "Insert File Log - Uncleaned Fail",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "Load Stage - Uncleaned",
														"dependencyConditions": [
															"Failed"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[[staging].[usp_InsertFileLog]",
													"storedProcedureParameters": {
														"ComponentName": {
															"value": {
																"value": "@pipeline().Pipeline",
																"type": "Expression"
															},
															"type": "String"
														},
														"ErrorMessage": {
															"value": {
																"value": "@{activity('Load Stage - Uncleaned').output.errors[0].Message}",
																"type": "Expression"
															},
															"type": "String"
														},
														"FileName": {
															"value": {
																"value": "@{item().FileName}",
																"type": "Expression"
															},
															"type": "String"
														},
														"FileRefID": {
															"value": {
																"value": "@{item().FileRefID}",
																"type": "Expression"
															},
															"type": "String"
														},
														"FileSeqno": {
															"value": {
																"value": "@{item().FileSeqNo}",
																"type": "Expression"
															},
															"type": "Int32"
														},
														"FileType": {
															"value": {
																"value": "@{item().FileType}",
																"type": "Expression"
															},
															"type": "Int32"
														},
														"ImportDate": {
															"value": {
																"value": "@{item().ImportDate}",
																"type": "Expression"
															},
															"type": "DateTime"
														},
														"InsertRows": {
															"value": {
																"value": "@activity('Load Stage - Uncleaned').output.rowsCopied",
																"type": "Expression"
															},
															"type": "Int32"
														},
														"InsertTime": {
															"value": {
																"value": "@utcnow()",
																"type": "Expression"
															},
															"type": "DateTime"
														},
														"PipelineRunID": {
															"value": {
																"value": "@pipeline().parameters.PPL_RunID",
																"type": "Expression"
															},
															"type": "String"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "LN_SQL_DevDatahub",
													"type": "LinkedServiceReference"
												}
											}
										]
									}
								},
								{
									"name": "NULLRow  RecordID RecordTime",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Clean NO - Clean YES",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[staging].[usp_HashKey]",
										"storedProcedureParameters": {
											"FileName": {
												"value": {
													"value": "@{item().FileName}",
													"type": "Expression"
												},
												"type": "String"
											},
											"FileType": {
												"value": {
													"value": "@{item().FileType}",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"TableName": {
												"value": {
													"value": "@{concat('stg_', item().SinkTable)}",
													"type": "Expression"
												},
												"type": "String"
											},
											"TableSchema": {
												"value": {
													"value": "@{item().SinkSchema}",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LN_SQL_DevDatahub",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Delete CSV",
									"type": "Delete",
									"dependsOn": [
										{
											"activity": "NULLRow  RecordID RecordTime",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "DS_BLOB_CsvSink",
											"type": "DatasetReference",
											"parameters": {
												"PDS_FileName": {
													"value": "@{item().FileName}",
													"type": "Expression"
												}
											}
										},
										"logStorageSettings": {
											"linkedServiceName": {
												"referenceName": "LN_BLOB_addufrain1",
												"type": "LinkedServiceReference"
											},
											"path": "testo2/logging"
										},
										"enableLogging": true,
										"storeSettings": {
											"type": "AzureBlobStorageReadSettings",
											"recursive": true
										}
									}
								}
							]
						}
					},
					{
						"name": "Check Seq No - Branch Succ",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "File Iteration",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[staging].[usp_CheckSeqNo]"
						},
						"linkedServiceName": {
							"referenceName": "LN_SQL_DevDatahub",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Check Seq No - Branch Fail",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "File Iteration",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[staging].[usp_CheckSeqNo]"
						},
						"linkedServiceName": {
							"referenceName": "LN_SQL_DevDatahub",
							"type": "LinkedServiceReference"
						}
					}
				],
				"parameters": {
					"PPL_ImportDate": {
						"type": "string"
					},
					"PPL_RunID": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Dev_PICDR"
				},
				"annotations": [],
				"lastPublishTime": "2020-10-18T17:03:27Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_BLOB_FileList')]",
				"[concat(variables('factoryId'), '/datasets/DS_SQL_FileLoadDefinition')]",
				"[concat(variables('factoryId'), '/linkedServices/LN_SQL_DevDatahub')]",
				"[concat(variables('factoryId'), '/datasets/DS_BLOB_Zip')]",
				"[concat(variables('factoryId'), '/datasets/DS_BLOB_CsvSink')]",
				"[concat(variables('factoryId'), '/linkedServices/LN_BLOB_addufrain1')]",
				"[concat(variables('factoryId'), '/datasets/DS_BLOB_CsvSource')]",
				"[concat(variables('factoryId'), '/datasets/DS_SQL_StageTable')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Load O2 Files To Stage_V6')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get File List",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE [staging].[FileLoadDefinition]",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "$['fileRefID']"
										},
										"sink": {
											"name": "FileRefID",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['fileName']"
										},
										"sink": {
											"name": "FileName",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['importDate']"
										},
										"sink": {
											"name": "ImportDate",
											"type": "DateTime"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "DS_BLOB_FileList",
								"type": "DatasetReference",
								"parameters": {
									"PDS_FileName": {
										"value": "@pipeline().parameters.PPL_ImportDate",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_SQL_FileLoadDefinition",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Derived Column",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Get File List",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[staging].[usp_DerivedColumn]"
						},
						"linkedServiceName": {
							"referenceName": "LN_SQL_DevDatahub",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Filter On New Files",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Derived Column",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT * FROM [staging].[FileLoadDefinition]\nWHERE FileRefID NOT IN (SELECT FileRefID FROM [staging].[FileLog])",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_SQL_FileLoadDefinition",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "File Iteration",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Filter On New Files",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Filter On New Files').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Zip to Csv",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings",
												"compressionProperties": {
													"type": "ZipDeflateReadSettings",
													"preserveZipFileNameAsFolder": false
												}
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "DS_BLOB_Zip",
											"type": "DatasetReference",
											"parameters": {
												"PDS_FileName": {
													"value": "@{item().FileName}",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DS_BLOB_CsvSink",
											"type": "DatasetReference",
											"parameters": {
												"PDS_FileName": {
													"value": "@{item().FileName}",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "Clean NO - Clean YES",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "Zip to Csv",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@bool(equals(item().ColumnsToClean, ''))",
											"type": "Expression"
										},
										"ifFalseActivities": [
											{
												"name": "Whitespace Cleaning",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "Load Stage - Cleaned",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[[staging].[usp_CleanUp]",
													"storedProcedureParameters": {
														"ColumnArray": {
															"value": {
																"value": "@{item().ColumnsToClean}",
																"type": "Expression"
															},
															"type": "String"
														},
														"SourceTableName": {
															"value": {
																"value": "@{concat('stg_', item().SinkTable)}",
																"type": "Expression"
															},
															"type": "String"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "LN_SQL_DevDatahub",
													"type": "LinkedServiceReference"
												}
											},
											{
												"name": "Load Stage - Cleaned",
												"type": "Copy",
												"dependsOn": [
													{
														"activity": "Truncate Cleaned",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "DelimitedTextSource",
														"storeSettings": {
															"type": "AzureBlobStorageReadSettings",
															"recursive": true
														},
														"formatSettings": {
															"type": "DelimitedTextReadSettings"
														}
													},
													"sink": {
														"type": "AzureSqlSink"
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "DS_BLOB_CsvSource",
														"type": "DatasetReference",
														"parameters": {
															"PDS_FileName": {
																"value": "@{item().FileName}",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "DS_SQL_StageTable",
														"type": "DatasetReference",
														"parameters": {
															"PDS_TableSchema": {
																"value": "@{item().SinkSchema}",
																"type": "Expression"
															},
															"PDS_TableName": {
																"value": "@{item().SinkTable}",
																"type": "Expression"
															}
														}
													}
												]
											},
											{
												"name": "Insert File Log - Cleaned Succ",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "Whitespace Cleaning",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[[staging].[usp_InsertFileLog]",
													"storedProcedureParameters": {
														"ComponentName": {
															"value": {
																"value": "@pipeline().Pipeline",
																"type": "Expression"
															},
															"type": "String"
														},
														"ErrorMessage": {
															"value": null,
															"type": "String"
														},
														"FileName": {
															"value": {
																"value": "@{item().FileName}",
																"type": "Expression"
															},
															"type": "String"
														},
														"FileRefID": {
															"value": {
																"value": "@{item().FileRefID}",
																"type": "Expression"
															},
															"type": "String"
														},
														"FileSeqno": {
															"value": {
																"value": "@{item().FileSeqNo}",
																"type": "Expression"
															},
															"type": "Int32"
														},
														"FileType": {
															"value": {
																"value": "@{item().FileType}",
																"type": "Expression"
															},
															"type": "Int32"
														},
														"ImportDate": {
															"value": {
																"value": "@{item().ImportDate}",
																"type": "Expression"
															},
															"type": "DateTime"
														},
														"InsertRows": {
															"value": {
																"value": "@activity('Load Stage - Cleaned').output.rowsCopied",
																"type": "Expression"
															},
															"type": "Int32"
														},
														"InsertTime": {
															"value": {
																"value": "@utcnow()",
																"type": "Expression"
															},
															"type": "DateTime"
														},
														"PipelineRunID": {
															"value": {
																"value": "@pipeline().parameters.PPL_RunID",
																"type": "Expression"
															},
															"type": "String"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "LN_SQL_DevDatahub",
													"type": "LinkedServiceReference"
												}
											},
											{
												"name": "Truncate Cleaned",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[[staging].[usp_Truncate]",
													"storedProcedureParameters": {
														"TableName": {
															"value": {
																"value": "@{concat('stg_', item().SinkTable)}",
																"type": "Expression"
															},
															"type": "String"
														},
														"TableSchema": {
															"value": {
																"value": "@{item().SinkSchema}",
																"type": "Expression"
															},
															"type": "String"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "LN_SQL_DevDatahub",
													"type": "LinkedServiceReference"
												}
											},
											{
												"name": "Insert File Log - Cleaned Fail",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "Load Stage - Cleaned",
														"dependencyConditions": [
															"Failed"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[[staging].[usp_InsertFileLog]",
													"storedProcedureParameters": {
														"ComponentName": {
															"value": {
																"value": "@pipeline().Pipeline",
																"type": "Expression"
															},
															"type": "String"
														},
														"ErrorMessage": {
															"value": {
																"value": "@{activity('Load Stage - Cleaned').output.errors[0].Message}",
																"type": "Expression"
															},
															"type": "String"
														},
														"FileName": {
															"value": {
																"value": "@{item().FileName}",
																"type": "Expression"
															},
															"type": "String"
														},
														"FileRefID": {
															"value": {
																"value": "@{item().FileRefID}",
																"type": "Expression"
															},
															"type": "String"
														},
														"FileSeqno": {
															"value": {
																"value": "@{item().FileSeqNo}",
																"type": "Expression"
															},
															"type": "Int32"
														},
														"FileType": {
															"value": {
																"value": "@{item().FileType}",
																"type": "Expression"
															},
															"type": "Int32"
														},
														"ImportDate": {
															"value": {
																"value": "@{item().ImportDate}",
																"type": "Expression"
															},
															"type": "DateTime"
														},
														"InsertRows": {
															"value": {
																"value": "@activity('Load Stage - Cleaned').output.rowsCopied",
																"type": "Expression"
															},
															"type": "Int32"
														},
														"InsertTime": {
															"value": {
																"value": "@utcnow()",
																"type": "Expression"
															},
															"type": "DateTime"
														},
														"PipelineRunID": {
															"value": {
																"value": "@pipeline().parameters.PPL_RunID",
																"type": "Expression"
															},
															"type": "String"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "LN_SQL_DevDatahub",
													"type": "LinkedServiceReference"
												}
											}
										],
										"ifTrueActivities": [
											{
												"name": "Load Stage - Uncleaned",
												"type": "Copy",
												"dependsOn": [
													{
														"activity": "Truncate Uncleaned",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "DelimitedTextSource",
														"storeSettings": {
															"type": "AzureBlobStorageReadSettings",
															"recursive": true
														},
														"formatSettings": {
															"type": "DelimitedTextReadSettings"
														}
													},
													"sink": {
														"type": "AzureSqlSink"
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "DS_BLOB_CsvSource",
														"type": "DatasetReference",
														"parameters": {
															"PDS_FileName": {
																"value": "@{item().FileName}",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "DS_SQL_StageTable",
														"type": "DatasetReference",
														"parameters": {
															"PDS_TableSchema": {
																"value": "@{item().SinkSchema}",
																"type": "Expression"
															},
															"PDS_TableName": {
																"value": "@{item().SinkTable}",
																"type": "Expression"
															}
														}
													}
												]
											},
											{
												"name": "Insert File Log - Uncleaned Succ",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "Load Stage - Uncleaned",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[[staging].[usp_InsertFileLog]",
													"storedProcedureParameters": {
														"ComponentName": {
															"value": {
																"value": "@pipeline().Pipeline",
																"type": "Expression"
															},
															"type": "String"
														},
														"ErrorMessage": {
															"value": null,
															"type": "String"
														},
														"FileName": {
															"value": {
																"value": "@{item().FileName}",
																"type": "Expression"
															},
															"type": "String"
														},
														"FileRefID": {
															"value": {
																"value": "@{item().FileRefID}",
																"type": "Expression"
															},
															"type": "String"
														},
														"FileSeqno": {
															"value": {
																"value": "@{item().FileSeqNo}",
																"type": "Expression"
															},
															"type": "Int32"
														},
														"FileType": {
															"value": {
																"value": "@{item().FileType}",
																"type": "Expression"
															},
															"type": "Int32"
														},
														"ImportDate": {
															"value": {
																"value": "@{item().ImportDate}",
																"type": "Expression"
															},
															"type": "DateTime"
														},
														"InsertRows": {
															"value": {
																"value": "@activity('Load Stage - Uncleaned').output.rowsCopied",
																"type": "Expression"
															},
															"type": "Int32"
														},
														"InsertTime": {
															"value": {
																"value": "@utcnow()",
																"type": "Expression"
															},
															"type": "DateTime"
														},
														"PipelineRunID": {
															"value": {
																"value": "@pipeline().parameters.PPL_RunID",
																"type": "Expression"
															},
															"type": "String"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "LN_SQL_DevDatahub",
													"type": "LinkedServiceReference"
												}
											},
											{
												"name": "Truncate Uncleaned",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[[staging].[usp_Truncate]",
													"storedProcedureParameters": {
														"TableName": {
															"value": {
																"value": "@{concat('stg_', item().SinkTable)}",
																"type": "Expression"
															},
															"type": "String"
														},
														"TableSchema": {
															"value": {
																"value": "@{item().SinkSchema}",
																"type": "Expression"
															},
															"type": "String"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "LN_SQL_DevDatahub",
													"type": "LinkedServiceReference"
												}
											},
											{
												"name": "Insert File Log - Uncleaned Fail",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "Load Stage - Uncleaned",
														"dependencyConditions": [
															"Failed"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[[staging].[usp_InsertFileLog]",
													"storedProcedureParameters": {
														"ComponentName": {
															"value": {
																"value": "@pipeline().Pipeline",
																"type": "Expression"
															},
															"type": "String"
														},
														"ErrorMessage": {
															"value": {
																"value": "@{activity('Load Stage - Uncleaned').output.errors[0].Message}",
																"type": "Expression"
															},
															"type": "String"
														},
														"FileName": {
															"value": {
																"value": "@{item().FileName}",
																"type": "Expression"
															},
															"type": "String"
														},
														"FileRefID": {
															"value": {
																"value": "@{item().FileRefID}",
																"type": "Expression"
															},
															"type": "String"
														},
														"FileSeqno": {
															"value": {
																"value": "@{item().FileSeqNo}",
																"type": "Expression"
															},
															"type": "Int32"
														},
														"FileType": {
															"value": {
																"value": "@{item().FileType}",
																"type": "Expression"
															},
															"type": "Int32"
														},
														"ImportDate": {
															"value": {
																"value": "@{item().ImportDate}",
																"type": "Expression"
															},
															"type": "DateTime"
														},
														"InsertRows": {
															"value": {
																"value": "@activity('Load Stage - Uncleaned').output.rowsCopied",
																"type": "Expression"
															},
															"type": "Int32"
														},
														"InsertTime": {
															"value": {
																"value": "@utcnow()",
																"type": "Expression"
															},
															"type": "DateTime"
														},
														"PipelineRunID": {
															"value": {
																"value": "@pipeline().parameters.PPL_RunID",
																"type": "Expression"
															},
															"type": "String"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "LN_SQL_DevDatahub",
													"type": "LinkedServiceReference"
												}
											}
										]
									}
								},
								{
									"name": "NULLRow  RecordID RecordTime",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Clean NO - Clean YES",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[staging].[usp_HashKey]",
										"storedProcedureParameters": {
											"FileName": {
												"value": {
													"value": "@{item().FileName}",
													"type": "Expression"
												},
												"type": "String"
											},
											"FileType": {
												"value": {
													"value": "@{item().FileType}",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"TableName": {
												"value": {
													"value": "@{concat('stg_', item().SinkTable)}",
													"type": "Expression"
												},
												"type": "String"
											},
											"TableSchema": {
												"value": {
													"value": "@{item().SinkSchema}",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LN_SQL_DevDatahub",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Delete CSV",
									"type": "Delete",
									"dependsOn": [
										{
											"activity": "NULLRow  RecordID RecordTime",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "DS_BLOB_CsvSink",
											"type": "DatasetReference",
											"parameters": {
												"PDS_FileName": {
													"value": "@{item().FileName}",
													"type": "Expression"
												}
											}
										},
										"logStorageSettings": {
											"linkedServiceName": {
												"referenceName": "LN_BLOB_addufrain1",
												"type": "LinkedServiceReference"
											},
											"path": "testo2/logging"
										},
										"enableLogging": true,
										"storeSettings": {
											"type": "AzureBlobStorageReadSettings",
											"recursive": true
										}
									}
								}
							]
						}
					},
					{
						"name": "Check Seq No - Branch Succ",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "File Iteration",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[staging].[usp_CheckSeqNo]"
						},
						"linkedServiceName": {
							"referenceName": "LN_SQL_DevDatahub",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Check Seq No - Branch Fail",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "File Iteration",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[staging].[usp_CheckSeqNo]"
						},
						"linkedServiceName": {
							"referenceName": "LN_SQL_DevDatahub",
							"type": "LinkedServiceReference"
						}
					}
				],
				"parameters": {
					"PPL_ImportDate": {
						"type": "string"
					},
					"PPL_RunID": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Dev_PICDR"
				},
				"annotations": [],
				"lastPublishTime": "2020-10-18T17:03:27Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_BLOB_FileList')]",
				"[concat(variables('factoryId'), '/datasets/DS_SQL_FileLoadDefinition')]",
				"[concat(variables('factoryId'), '/linkedServices/LN_SQL_DevDatahub')]",
				"[concat(variables('factoryId'), '/datasets/DS_BLOB_Zip')]",
				"[concat(variables('factoryId'), '/datasets/DS_BLOB_CsvSink')]",
				"[concat(variables('factoryId'), '/linkedServices/LN_BLOB_addufrain1')]",
				"[concat(variables('factoryId'), '/datasets/DS_BLOB_CsvSource')]",
				"[concat(variables('factoryId'), '/datasets/DS_SQL_StageTable')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Load datastore')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Load Datastore Test",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "pin.usp_LoadSubscriberCCBar",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_SQL_Generic",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": true
						}
					}
				],
				"folder": {
					"name": "Test1"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_SQL_Generic')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PICDR File To Staging')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "File Load Definition",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Get File List",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE [staging].[FileLoadDefinition]",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "$['fileRefID']"
										},
										"sink": {
											"name": "FileRefID",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['fileName']"
										},
										"sink": {
											"name": "FileName",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['importDate']"
										},
										"sink": {
											"name": "ImportDate",
											"type": "DateTime"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "DS_BLOB_PICDR_FileList",
								"type": "DatasetReference",
								"parameters": {
									"PDS_FileList": {
										"value": "@pipeline().parameters.PPL_ImportDate",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_SQL_PICDR_LoadDefinition",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Derived Column",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "File Load Definition",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[staging].[usp_DerivedColumn]"
						},
						"linkedServiceName": {
							"referenceName": "LN_SQL_DevDatahub",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Filter On New Files",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Derived Column",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT * FROM [staging].[FileLoadDefinition]\nWHERE FileRefID NOT IN (SELECT FileRefID FROM [staging].[FileLog])",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_SQL_PICDR_LoadDefinition",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "File Iteration",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Filter On New Files",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Filter On New Files').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Zip to Csv",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "Get Zip File",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings",
												"compressionProperties": {
													"type": "ZipDeflateReadSettings",
													"preserveZipFileNameAsFolder": false
												}
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "DS_BLOB_PICDR_ZipSource",
											"type": "DatasetReference",
											"parameters": {
												"PDS_FileName": {
													"value": "@{item().FileName}",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DS_BLOB_PICDR_CsvSink",
											"type": "DatasetReference",
											"parameters": {
												"PDS_FileName": {
													"value": "@{item().FileName}",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "Clean NO - Clean YES",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "Zip to Csv",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@bool(equals(item().ColumnsToClean, ''))",
											"type": "Expression"
										},
										"ifFalseActivities": [
											{
												"name": "Whitespace Cleaning",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "Load Stage - Cleaned",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[[staging].[usp_CleanUp]",
													"storedProcedureParameters": {
														"ColumnArray": {
															"value": {
																"value": "@{item().ColumnsToClean}",
																"type": "Expression"
															},
															"type": "String"
														},
														"SourceTableName": {
															"value": {
																"value": "@{concat('stg_', item().SinkTable)}",
																"type": "Expression"
															},
															"type": "String"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "LN_SQL_DevDatahub",
													"type": "LinkedServiceReference"
												}
											},
											{
												"name": "Load Stage - Cleaned",
												"type": "Copy",
												"dependsOn": [
													{
														"activity": "Truncate Cleaned",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "DelimitedTextSource",
														"storeSettings": {
															"type": "AzureBlobStorageReadSettings",
															"recursive": true
														},
														"formatSettings": {
															"type": "DelimitedTextReadSettings"
														}
													},
													"sink": {
														"type": "AzureSqlSink"
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "DS_BLOB_CsvSource",
														"type": "DatasetReference",
														"parameters": {
															"PDS_FileName": {
																"value": "@{item().FileName}",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "DS_SQL_StageTable",
														"type": "DatasetReference",
														"parameters": {
															"PDS_TableSchema": {
																"value": "@{item().SinkSchema}",
																"type": "Expression"
															},
															"PDS_TableName": {
																"value": "@{item().SinkTable}",
																"type": "Expression"
															}
														}
													}
												]
											},
											{
												"name": "Insert File Log - Cleaned Succ",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "Whitespace Cleaning",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[[staging].[usp_InsertFileLog]",
													"storedProcedureParameters": {
														"ComponentName": {
															"value": {
																"value": "@pipeline().Pipeline",
																"type": "Expression"
															},
															"type": "String"
														},
														"ErrorMessage": {
															"value": null,
															"type": "String"
														},
														"FileName": {
															"value": {
																"value": "@{item().FileName}",
																"type": "Expression"
															},
															"type": "String"
														},
														"FileRefID": {
															"value": {
																"value": "@{item().FileRefID}",
																"type": "Expression"
															},
															"type": "String"
														},
														"FileSeqno": {
															"value": {
																"value": "@{item().FileSeqNo}",
																"type": "Expression"
															},
															"type": "Int32"
														},
														"FileType": {
															"value": {
																"value": "@{item().FileType}",
																"type": "Expression"
															},
															"type": "Int32"
														},
														"ImportDate": {
															"value": {
																"value": "@{item().ImportDate}",
																"type": "Expression"
															},
															"type": "DateTime"
														},
														"InsertRows": {
															"value": {
																"value": "@activity('Load Stage - Cleaned').output.rowsCopied",
																"type": "Expression"
															},
															"type": "Int32"
														},
														"InsertTime": {
															"value": {
																"value": "@utcnow()",
																"type": "Expression"
															},
															"type": "DateTime"
														},
														"PipelineRunID": {
															"value": {
																"value": "@pipeline().parameters.PPL_RunID",
																"type": "Expression"
															},
															"type": "String"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "LN_SQL_DevDatahub",
													"type": "LinkedServiceReference"
												}
											},
											{
												"name": "Truncate Cleaned",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[[staging].[usp_Truncate]",
													"storedProcedureParameters": {
														"TableName": {
															"value": {
																"value": "@{concat('stg_', item().SinkTable)}",
																"type": "Expression"
															},
															"type": "String"
														},
														"TableSchema": {
															"value": {
																"value": "@{item().SinkSchema}",
																"type": "Expression"
															},
															"type": "String"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "LN_SQL_DevDatahub",
													"type": "LinkedServiceReference"
												}
											},
											{
												"name": "Insert File Log - Cleaned Fail",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "Load Stage - Cleaned",
														"dependencyConditions": [
															"Failed"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[[staging].[usp_InsertFileLog]",
													"storedProcedureParameters": {
														"ComponentName": {
															"value": {
																"value": "@pipeline().Pipeline",
																"type": "Expression"
															},
															"type": "String"
														},
														"ErrorMessage": {
															"value": {
																"value": "@{activity('Load Stage - Cleaned').output.errors[0].Message}",
																"type": "Expression"
															},
															"type": "String"
														},
														"FileName": {
															"value": {
																"value": "@{item().FileName}",
																"type": "Expression"
															},
															"type": "String"
														},
														"FileRefID": {
															"value": {
																"value": "@{item().FileRefID}",
																"type": "Expression"
															},
															"type": "String"
														},
														"FileSeqno": {
															"value": {
																"value": "@{item().FileSeqNo}",
																"type": "Expression"
															},
															"type": "Int32"
														},
														"FileType": {
															"value": {
																"value": "@{item().FileType}",
																"type": "Expression"
															},
															"type": "Int32"
														},
														"ImportDate": {
															"value": {
																"value": "@{item().ImportDate}",
																"type": "Expression"
															},
															"type": "DateTime"
														},
														"InsertRows": {
															"value": {
																"value": "@activity('Load Stage - Cleaned').output.rowsCopied",
																"type": "Expression"
															},
															"type": "Int32"
														},
														"InsertTime": {
															"value": {
																"value": "@utcnow()",
																"type": "Expression"
															},
															"type": "DateTime"
														},
														"PipelineRunID": {
															"value": {
																"value": "@pipeline().parameters.PPL_RunID",
																"type": "Expression"
															},
															"type": "String"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "LN_SQL_DevDatahub",
													"type": "LinkedServiceReference"
												}
											}
										],
										"ifTrueActivities": [
											{
												"name": "Load Stage - Uncleaned",
												"type": "Copy",
												"dependsOn": [
													{
														"activity": "Truncate Uncleaned",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "DelimitedTextSource",
														"storeSettings": {
															"type": "AzureBlobStorageReadSettings",
															"recursive": true
														},
														"formatSettings": {
															"type": "DelimitedTextReadSettings"
														}
													},
													"sink": {
														"type": "AzureSqlSink"
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "DS_BLOB_CsvSource",
														"type": "DatasetReference",
														"parameters": {
															"PDS_FileName": {
																"value": "@{item().FileName}",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "DS_SQL_StageTable",
														"type": "DatasetReference",
														"parameters": {
															"PDS_TableSchema": {
																"value": "@{item().SinkSchema}",
																"type": "Expression"
															},
															"PDS_TableName": {
																"value": "@{item().SinkTable}",
																"type": "Expression"
															}
														}
													}
												]
											},
											{
												"name": "Insert File Log - Uncleaned Succ",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "Load Stage - Uncleaned",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[[staging].[usp_InsertFileLog]",
													"storedProcedureParameters": {
														"ComponentName": {
															"value": {
																"value": "@pipeline().Pipeline",
																"type": "Expression"
															},
															"type": "String"
														},
														"ErrorMessage": {
															"value": null,
															"type": "String"
														},
														"FileName": {
															"value": {
																"value": "@{item().FileName}",
																"type": "Expression"
															},
															"type": "String"
														},
														"FileRefID": {
															"value": {
																"value": "@{item().FileRefID}",
																"type": "Expression"
															},
															"type": "String"
														},
														"FileSeqno": {
															"value": {
																"value": "@{item().FileSeqNo}",
																"type": "Expression"
															},
															"type": "Int32"
														},
														"FileType": {
															"value": {
																"value": "@{item().FileType}",
																"type": "Expression"
															},
															"type": "Int32"
														},
														"ImportDate": {
															"value": {
																"value": "@{item().ImportDate}",
																"type": "Expression"
															},
															"type": "DateTime"
														},
														"InsertRows": {
															"value": {
																"value": "@activity('Load Stage - Uncleaned').output.rowsCopied",
																"type": "Expression"
															},
															"type": "Int32"
														},
														"InsertTime": {
															"value": {
																"value": "@utcnow()",
																"type": "Expression"
															},
															"type": "DateTime"
														},
														"PipelineRunID": {
															"value": {
																"value": "@pipeline().parameters.PPL_RunID",
																"type": "Expression"
															},
															"type": "String"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "LN_SQL_DevDatahub",
													"type": "LinkedServiceReference"
												}
											},
											{
												"name": "Truncate Uncleaned",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[[staging].[usp_Truncate]",
													"storedProcedureParameters": {
														"TableName": {
															"value": {
																"value": "@{concat('stg_', item().SinkTable)}",
																"type": "Expression"
															},
															"type": "String"
														},
														"TableSchema": {
															"value": {
																"value": "@{item().SinkSchema}",
																"type": "Expression"
															},
															"type": "String"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "LN_SQL_DevDatahub",
													"type": "LinkedServiceReference"
												}
											},
											{
												"name": "Insert File Log - Uncleaned Fail",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "Load Stage - Uncleaned",
														"dependencyConditions": [
															"Failed"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[[staging].[usp_InsertFileLog]",
													"storedProcedureParameters": {
														"ComponentName": {
															"value": {
																"value": "@pipeline().Pipeline",
																"type": "Expression"
															},
															"type": "String"
														},
														"ErrorMessage": {
															"value": {
																"value": "@{activity('Load Stage - Uncleaned').output.errors[0].Message}",
																"type": "Expression"
															},
															"type": "String"
														},
														"FileName": {
															"value": {
																"value": "@{item().FileName}",
																"type": "Expression"
															},
															"type": "String"
														},
														"FileRefID": {
															"value": {
																"value": "@{item().FileRefID}",
																"type": "Expression"
															},
															"type": "String"
														},
														"FileSeqno": {
															"value": {
																"value": "@{item().FileSeqNo}",
																"type": "Expression"
															},
															"type": "Int32"
														},
														"FileType": {
															"value": {
																"value": "@{item().FileType}",
																"type": "Expression"
															},
															"type": "Int32"
														},
														"ImportDate": {
															"value": {
																"value": "@{item().ImportDate}",
																"type": "Expression"
															},
															"type": "DateTime"
														},
														"InsertRows": {
															"value": {
																"value": "@activity('Load Stage - Uncleaned').output.rowsCopied",
																"type": "Expression"
															},
															"type": "Int32"
														},
														"InsertTime": {
															"value": {
																"value": "@utcnow()",
																"type": "Expression"
															},
															"type": "DateTime"
														},
														"PipelineRunID": {
															"value": {
																"value": "@pipeline().parameters.PPL_RunID",
																"type": "Expression"
															},
															"type": "String"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "LN_SQL_DevDatahub",
													"type": "LinkedServiceReference"
												}
											}
										]
									}
								},
								{
									"name": "NULLRow  RecordID RecordTime",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Clean NO - Clean YES",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[staging].[usp_HashKey]",
										"storedProcedureParameters": {
											"FileName": {
												"value": {
													"value": "@{item().FileName}",
													"type": "Expression"
												},
												"type": "String"
											},
											"FileType": {
												"value": {
													"value": "@{item().FileType}",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"TableName": {
												"value": {
													"value": "@{concat('stg_', item().SinkTable)}",
													"type": "Expression"
												},
												"type": "String"
											},
											"TableSchema": {
												"value": {
													"value": "@{item().SinkSchema}",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LN_SQL_DevDatahub",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Delete CSV",
									"type": "Delete",
									"dependsOn": [
										{
											"activity": "NULLRow  RecordID RecordTime",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "DS_BLOB_CsvSink",
											"type": "DatasetReference",
											"parameters": {
												"PDS_FileName": {
													"value": "@{item().FileName}",
													"type": "Expression"
												}
											}
										},
										"logStorageSettings": {
											"linkedServiceName": {
												"referenceName": "LN_BLOB_addufrain1",
												"type": "LinkedServiceReference"
											},
											"path": "testo2/logging"
										},
										"enableLogging": true,
										"storeSettings": {
											"type": "AzureBlobStorageReadSettings",
											"recursive": true
										}
									}
								},
								{
									"name": "Get Zip File",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "BinarySource",
											"storeSettings": {
												"type": "HttpReadSettings",
												"requestMethod": "GET"
											},
											"formatSettings": {
												"type": "BinaryReadSettings"
											}
										},
										"sink": {
											"type": "BinarySink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "DS_HTTP_PICDR_FileRef",
											"type": "DatasetReference",
											"parameters": {
												"PDS_FileRef": {
													"value": "@{item().FileRefID}",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DS_BLOB_PICDR_ZipSink",
											"type": "DatasetReference",
											"parameters": {
												"PDS_FileName": {
													"value": "@{item().FileName}",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					},
					{
						"name": "Check Seq No - Branch Succ",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "File Iteration",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[staging].[usp_CheckSeqNo]"
						},
						"linkedServiceName": {
							"referenceName": "LN_SQL_DevDatahub",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Check Seq No - Branch Fail",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "File Iteration",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[staging].[usp_CheckSeqNo]"
						},
						"linkedServiceName": {
							"referenceName": "LN_SQL_DevDatahub",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Get File List",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET"
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "DS_REST_PICDR_FileList",
								"type": "DatasetReference",
								"parameters": {
									"PDS_ImportDate": {
										"value": "@pipeline().parameters.PPL_ImportDate",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_BLOB_PICDR_FileList",
								"type": "DatasetReference",
								"parameters": {
									"PDS_FileList": {
										"value": "@pipeline().parameters.PPL_ImportDate",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"parameters": {
					"PPL_ImportDate": {
						"type": "string"
					},
					"PPL_RunID": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Dev_PICDR"
				},
				"annotations": [],
				"lastPublishTime": "2020-10-18T17:03:27Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_BLOB_PICDR_FileList')]",
				"[concat(variables('factoryId'), '/datasets/DS_SQL_PICDR_LoadDefinition')]",
				"[concat(variables('factoryId'), '/linkedServices/LN_SQL_DevDatahub')]",
				"[concat(variables('factoryId'), '/datasets/DS_REST_PICDR_FileList')]",
				"[concat(variables('factoryId'), '/datasets/DS_BLOB_PICDR_ZipSource')]",
				"[concat(variables('factoryId'), '/datasets/DS_BLOB_PICDR_CsvSink')]",
				"[concat(variables('factoryId'), '/datasets/DS_BLOB_CsvSink')]",
				"[concat(variables('factoryId'), '/datasets/DS_HTTP_PICDR_FileRef')]",
				"[concat(variables('factoryId'), '/datasets/DS_BLOB_PICDR_ZipSink')]",
				"[concat(variables('factoryId'), '/linkedServices/LN_BLOB_addufrain1')]",
				"[concat(variables('factoryId'), '/datasets/DS_BLOB_CsvSource')]",
				"[concat(variables('factoryId'), '/datasets/DS_SQL_StageTable')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Run O2 ETL Datahub')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Load O2 Files To Stage",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Create ETL Log Entry",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Load O2 Files To Stage",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"PPL_ImportDate": {
									"value": "@pipeline().parameters.PPL_ImportDateMaster",
									"type": "Expression"
								},
								"PPL_RunID": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Create ETL Log Entry",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[logging].[usp_InsertEtlLog]",
								"storedProcedureParameters": {
									"ComponentName": {
										"type": "String",
										"value": {
											"value": "Load O2 Files To Stage",
											"type": "Expression"
										}
									},
									"DurationSeconds": {
										"type": "Int32",
										"value": null
									},
									"EndTime": {
										"type": "DateTime",
										"value": null
									},
									"ErrorMessage": {
										"type": "String",
										"value": null
									},
									"PipelineName": {
										"type": "String",
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										}
									},
									"PipelineRunID": {
										"type": "String",
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										}
									},
									"StartTime": {
										"type": "DateTime",
										"value": {
											"value": "@utcnow()",
											"type": "Expression"
										}
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_SQL_Generic",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Update ETL Log Entry Success",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Load O2 Files To Stage",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[logging].[usp_UpdateEtlLog]",
							"storedProcedureParameters": {
								"DurationSeconds": {
									"value": null,
									"type": "Int32"
								},
								"EndTime": {
									"value": {
										"value": "@utcnow()",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"ErrorMessage": {
									"value": null,
									"type": "String"
								},
								"EtlLogId": {
									"value": {
										"value": "@activity('Create ETL Log Entry').output.firstRow.EtlLogId",
										"type": "Expression"
									},
									"type": "Int32"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LN_SQL_DevDatahub",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Update ETL Log Entry Failure",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Load O2 Files To Stage",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[logging].[usp_UpdateEtlLog]",
							"storedProcedureParameters": {
								"DurationSeconds": {
									"value": null,
									"type": "Int32"
								},
								"EndTime": {
									"value": {
										"value": "@utcnow()",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"ErrorMessage": {
									"value": {
										"value": "ERR Run - see FileLog",
										"type": "Expression"
									},
									"type": "String"
								},
								"EtlLogId": {
									"value": {
										"value": "@activity('Create ETL Log Entry').output.firstRow.EtlLogId",
										"type": "Expression"
									},
									"type": "Int32"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LN_SQL_DevDatahub",
							"type": "LinkedServiceReference"
						}
					}
				],
				"parameters": {
					"PPL_ImportDateMaster": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Dev_PICDR"
				},
				"annotations": [],
				"lastPublishTime": "2020-10-19T06:29:30Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/Load O2 Files To Stage')]",
				"[concat(variables('factoryId'), '/datasets/DS_SQL_Generic')]",
				"[concat(variables('factoryId'), '/linkedServices/LN_SQL_DevDatahub')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Unzip To Sql')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Unzip To SQL",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "\"Group Code\"",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Group_Code",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "\"Corporate Code\"",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Corporate_Code",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "\"Account No\"",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Account_No",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "\"Agreement No\"",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Agreement_No",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "\"Subscription Number\"",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Subscription_Number",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "\"Cost Centre\"",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Cost_Centre",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "\"Network Serial Number\"",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Network_Serial_Number",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "\"Tariff\"",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Tariff",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "\"Call class\"",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Call_class",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "\"Call class Description\"",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Call_class_Description",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "\"Call Landing date\"",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Call_Landing_date",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "\"Dialed Number\"",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Dialed_Number",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "\"Call date\"",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Call_date",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "\"Call time\"",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Call_time",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "\"Bundled Call?\"",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Bundled_Call",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "\"SP Billed Call Price\"",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SP_Billed_Call_Price",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "\"Service\"",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Service",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "\"Pre-Bundle Actual Duration\"",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pre_Bundle_Actual_Duration",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "\"Pre-Bundled SP Value\"",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pre_Bundled_SP_Value",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "\"SP Retail Call Price\"",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SP_Retail_Call_Price",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "\"Discount Value\"",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Discount_Value",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "\"SCD Country of Call Origin\"",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SCD_Country_of_Call_Origin",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "\"SCD Call Direction\"",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SCD_Call_Direction",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "\"SCD Networks Call Indicator\"",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SCD_Networks_Call_Indicator",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "\"GPRS Destination\"",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "GPRS_Destination",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "\"GPRS Product Code\"",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "GPRS_Product_Code",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "\"Uplink Volume\"",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Uplink_Volume",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "\"Downlink Volume\"",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Downlink_Volume",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "\"Number of Contexts\"",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Number_of_Contexts",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_Test1_BLOB_Unzip",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_Test1_SQL_DevDatahub",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"folder": {
					"name": "Test1"
				},
				"annotations": [],
				"lastPublishTime": "2020-10-09T17:19:14Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_Test1_BLOB_Unzip')]",
				"[concat(variables('factoryId'), '/datasets/DS_Test1_SQL_DevDatahub')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Zip To Unzip')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Zip To Unzip",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "o2-test1//demo1.zip"
							},
							{
								"name": "Destination",
								"value": "o2-test1//demo1.csv"
							}
						],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings",
									"skipLineCount": "0",
									"compressionProperties": {
										"type": "ZipDeflateReadSettings",
										"preserveZipFileNameAsFolder": false
									}
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"validateDataConsistency": false
						},
						"inputs": [
							{
								"referenceName": "DS_Test1_BLOB_Zip",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_Test1_BLOB_Unzip",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"folder": {
					"name": "Test1"
				},
				"annotations": [],
				"lastPublishTime": "2020-10-09T17:19:14Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_Test1_BLOB_Zip')]",
				"[concat(variables('factoryId'), '/datasets/DS_Test1_BLOB_Unzip')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/zzz1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get File List",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET"
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "DS_REST_PICDR_FileList",
								"type": "DatasetReference",
								"parameters": {
									"PDS_ImportDate": {
										"value": "@pipeline().parameters.PPL_ImportDate",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_BLOB_PICDR_FileList",
								"type": "DatasetReference",
								"parameters": {
									"PDS_FileList": {
										"value": "@pipeline().parameters.PPL_ImportDate",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"parameters": {
					"PPL_ImportDate": {
						"type": "string"
					},
					"PPL_RunID": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Dev_PICDR"
				},
				"annotations": [],
				"lastPublishTime": "2020-10-18T17:03:27Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_REST_PICDR_FileList')]",
				"[concat(variables('factoryId'), '/datasets/DS_BLOB_PICDR_FileList')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/zzz2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "File Load Definition",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Get File List",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE [staging].[FileLoadDefinition]",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "$['fileRefID']"
										},
										"sink": {
											"name": "FileRefID",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['fileName']"
										},
										"sink": {
											"name": "FileName",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['importDate']"
										},
										"sink": {
											"name": "ImportDate",
											"type": "DateTime"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "DS_BLOB_PICDR_FileList",
								"type": "DatasetReference",
								"parameters": {
									"PDS_FileList": {
										"value": "@pipeline().parameters.PPL_ImportDate",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_SQL_PICDR_LoadDefinition",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Derived Column",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "File Load Definition",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[staging].[usp_DerivedColumn]"
						},
						"linkedServiceName": {
							"referenceName": "LN_SQL_DevDatahub",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Filter On New Files",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Derived Column",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT * FROM [staging].[FileLoadDefinition]\nWHERE FileRefID NOT IN (SELECT FileRefID FROM [staging].[FileLog])",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_SQL_PICDR_LoadDefinition",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Get File List",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET"
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "DS_REST_PICDR_FileList",
								"type": "DatasetReference",
								"parameters": {
									"PDS_ImportDate": {
										"value": "@pipeline().parameters.PPL_ImportDate",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_BLOB_PICDR_FileList",
								"type": "DatasetReference",
								"parameters": {
									"PDS_FileList": {
										"value": "@pipeline().parameters.PPL_ImportDate",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"parameters": {
					"PPL_ImportDate": {
						"type": "string"
					},
					"PPL_RunID": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Dev_PICDR"
				},
				"annotations": [],
				"lastPublishTime": "2020-10-18T17:03:27Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_BLOB_PICDR_FileList')]",
				"[concat(variables('factoryId'), '/datasets/DS_SQL_PICDR_LoadDefinition')]",
				"[concat(variables('factoryId'), '/linkedServices/LN_SQL_DevDatahub')]",
				"[concat(variables('factoryId'), '/datasets/DS_REST_PICDR_FileList')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/zzz3')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "File Load Definition",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Get File List",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE [staging].[FileLoadDefinition]",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "$['fileRefID']"
										},
										"sink": {
											"name": "FileRefID",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['fileName']"
										},
										"sink": {
											"name": "FileName",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['importDate']"
										},
										"sink": {
											"name": "ImportDate",
											"type": "DateTime"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "DS_BLOB_PICDR_FileList",
								"type": "DatasetReference",
								"parameters": {
									"PDS_FileList": {
										"value": "@pipeline().parameters.PPL_ImportDate",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_SQL_PICDR_LoadDefinition",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Derived Column",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "File Load Definition",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[staging].[usp_DerivedColumn]"
						},
						"linkedServiceName": {
							"referenceName": "LN_SQL_DevDatahub",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Filter On New Files",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Derived Column",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT * FROM [staging].[FileLoadDefinition]\nWHERE FileRefID NOT IN (SELECT FileRefID FROM [staging].[FileLog])",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_SQL_PICDR_LoadDefinition",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "File Iteration",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Filter On New Files",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Filter On New Files').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Get Zip File",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "BinarySource",
											"storeSettings": {
												"type": "HttpReadSettings",
												"requestMethod": "GET"
											},
											"formatSettings": {
												"type": "BinaryReadSettings"
											}
										},
										"sink": {
											"type": "BinarySink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "DS_HTTP_PICDR_FileRef",
											"type": "DatasetReference",
											"parameters": {
												"PDS_FileRef": {
													"value": "@{item().FileRefID}",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DS_BLOB_PICDR_ZipSink",
											"type": "DatasetReference",
											"parameters": {
												"PDS_FileName": {
													"value": "@{item().FileName}",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					},
					{
						"name": "Get File List",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET"
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "DS_REST_PICDR_FileList",
								"type": "DatasetReference",
								"parameters": {
									"PDS_ImportDate": {
										"value": "@pipeline().parameters.PPL_ImportDate",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_BLOB_PICDR_FileList",
								"type": "DatasetReference",
								"parameters": {
									"PDS_FileList": {
										"value": "@pipeline().parameters.PPL_ImportDate",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"parameters": {
					"PPL_ImportDate": {
						"type": "string"
					},
					"PPL_RunID": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Dev_PICDR"
				},
				"annotations": [],
				"lastPublishTime": "2020-10-18T17:03:27Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_BLOB_PICDR_FileList')]",
				"[concat(variables('factoryId'), '/datasets/DS_SQL_PICDR_LoadDefinition')]",
				"[concat(variables('factoryId'), '/linkedServices/LN_SQL_DevDatahub')]",
				"[concat(variables('factoryId'), '/datasets/DS_REST_PICDR_FileList')]",
				"[concat(variables('factoryId'), '/datasets/DS_HTTP_PICDR_FileRef')]",
				"[concat(variables('factoryId'), '/datasets/DS_BLOB_PICDR_ZipSink')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/zzzwait')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Wait1",
						"type": "Wait",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 1
						}
					}
				],
				"folder": {
					"name": "Test1"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_BLOB_CsvSink')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LN_BLOB_addufrain1",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"PDS_FileName": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Dev_PICDR"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@concat(dataset().PDS_FileName, '.CSV')",
							"type": "Expression"
						},
						"folderPath": "csv",
						"container": "testo2"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": ""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LN_BLOB_addufrain1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_BLOB_CsvSource')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LN_BLOB_addufrain1",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"PDS_FileName": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Dev_PICDR"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@concat(dataset().PDS_FileName, '.CSV')",
							"type": "Expression"
						},
						"folderPath": "csv",
						"container": "testo2"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LN_BLOB_addufrain1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_BLOB_FileList')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LN_BLOB_addufrain1",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"PDS_FileName": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Dev_PICDR"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@concat('FileList',dataset().PDS_FileName, '.json')",
							"type": "Expression"
						},
						"container": "testo2"
					}
				},
				"schema": {
					"type": "object",
					"properties": {
						"fileRefID": {
							"type": "string"
						},
						"fileName": {
							"type": "string"
						},
						"importDate": {
							"type": "string"
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LN_BLOB_addufrain1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_BLOB_PICDR_FileList')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LN_BLOB_addufrain1",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"PDS_FileList": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Dev_PICDR"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@concat(dataset().PDS_FileList, '.json')",
							"type": "Expression"
						},
						"folderPath": "filelist",
						"container": "picdr"
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LN_BLOB_addufrain1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_BLOB_PICDR_ZipSink')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LN_BLOB_addufrain1",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"PDS_FileName": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Dev_PICDR"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@concat(dataset().PDS_FileName, '.ZIP')",
							"type": "Expression"
						},
						"folderPath": "filezip",
						"container": "picdr"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LN_BLOB_addufrain1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_BLOB_Zip')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LN_BLOB_addufrain1",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"PDS_FileName": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Dev_PICDR"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@concat(dataset().PDS_FileName, '.ZIP')",
							"type": "Expression"
						},
						"folderPath": "zip",
						"container": "testo2"
					},
					"columnDelimiter": ",",
					"compressionCodec": "ZipDeflate",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": ""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LN_BLOB_addufrain1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_HTTP_PICDR_FileRef')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LN_HTTP_PICDR_FileRef",
					"type": "LinkedServiceReference",
					"parameters": {
						"PLN_FileRef": {
							"value": "@dataset().PDS_FileRef",
							"type": "Expression"
						}
					}
				},
				"parameters": {
					"PDS_FileRef": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Dev_PICDR"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "HttpServerLocation"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LN_HTTP_PICDR_FileRef')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_REST_PICDR_FileList')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LN_REST_PICDR_FileList",
					"type": "LinkedServiceReference",
					"parameters": {
						"PLN_ImportDate": {
							"value": "@dataset().PDS_ImportDate",
							"type": "Expression"
						}
					}
				},
				"parameters": {
					"PDS_ImportDate": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Dev_PICDR"
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LN_REST_PICDR_FileList')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_SQL_FileLoadDefinition')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LN_SQL_DevDatahub",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Dev_PICDR"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "FileRefID",
						"type": "nvarchar"
					},
					{
						"name": "FileName",
						"type": "nvarchar"
					},
					{
						"name": "ImportDate",
						"type": "date"
					},
					{
						"name": "FileType",
						"type": "int",
						"precision": 10
					},
					{
						"name": "SinkSchema",
						"type": "nvarchar"
					},
					{
						"name": "SinkTable",
						"type": "nvarchar"
					},
					{
						"name": "FileSeqno",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"schema": "staging",
					"table": "FileLoadDefinition"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LN_SQL_DevDatahub')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_SQL_Generic')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LN_SQL_DevDatahub",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Dev_PICDR"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LN_SQL_DevDatahub')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_SQL_PICDR_LoadDefinition')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LN_SQL_DevDatahub",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Dev_PICDR"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "FileRefID",
						"type": "nvarchar"
					},
					{
						"name": "FileName",
						"type": "nvarchar"
					},
					{
						"name": "ImportDate",
						"type": "date"
					},
					{
						"name": "FileType",
						"type": "int",
						"precision": 10
					},
					{
						"name": "SinkSchema",
						"type": "nvarchar"
					},
					{
						"name": "SinkTable",
						"type": "nvarchar"
					},
					{
						"name": "FileSeqno",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"schema": "staging",
					"table": "FileLoadDefinition"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LN_SQL_DevDatahub')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_SQL_StageTable')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LN_SQL_DevDatahub",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"PDS_TableSchema": {
						"type": "string"
					},
					"PDS_TableName": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Dev_PICDR"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": {
						"value": "@dataset().PDS_TableSchema",
						"type": "Expression"
					},
					"table": {
						"value": "@concat('stg_', dataset().PDS_TableName)",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LN_SQL_DevDatahub')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_Test1_BLOB_Generic')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LN_BLOB_addufrain1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Test1"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "test1"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LN_BLOB_addufrain1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_Test1_BLOB_ListOfFiles')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LN_BLOB_addufrain1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Test1"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "test1"
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LN_BLOB_addufrain1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_Test1_BLOB_Unzip')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LN_BLOB_addufrain1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Test1"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "demo2.csv",
						"folderPath": "unzip",
						"container": "test1"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": ""
				},
				"schema": [
					{
						"name": "\"Group Code\"",
						"type": "String"
					},
					{
						"name": "\"Corporate Code\"",
						"type": "String"
					},
					{
						"name": "\"Account No\"",
						"type": "String"
					},
					{
						"name": "\"Agreement No\"",
						"type": "String"
					},
					{
						"name": "\"Subscription Number\"",
						"type": "String"
					},
					{
						"name": "\"Cost Centre\"",
						"type": "String"
					},
					{
						"name": "\"Network Serial Number\"",
						"type": "String"
					},
					{
						"name": "\"Tariff\"",
						"type": "String"
					},
					{
						"name": "\"Call class\"",
						"type": "String"
					},
					{
						"name": "\"Call class Description\"",
						"type": "String"
					},
					{
						"name": "\"Call Landing date\"",
						"type": "String"
					},
					{
						"name": "\"Dialed Number\"",
						"type": "String"
					},
					{
						"name": "\"Call date\"",
						"type": "String"
					},
					{
						"name": "\"Call time\"",
						"type": "String"
					},
					{
						"name": "\"Bundled Call?\"",
						"type": "String"
					},
					{
						"name": "\"SP Billed Call Price\"",
						"type": "String"
					},
					{
						"name": "\"Service\"",
						"type": "String"
					},
					{
						"name": "\"Pre-Bundle Actual Duration\"",
						"type": "String"
					},
					{
						"name": "\"Pre-Bundled SP Value\"",
						"type": "String"
					},
					{
						"name": "\"SP Retail Call Price\"",
						"type": "String"
					},
					{
						"name": "\"Discount Value\"",
						"type": "String"
					},
					{
						"name": "\"SCD Country of Call Origin\"",
						"type": "String"
					},
					{
						"name": "\"SCD Call Direction\"",
						"type": "String"
					},
					{
						"name": "\"SCD Networks Call Indicator\"",
						"type": "String"
					},
					{
						"name": "\"GPRS Destination\"",
						"type": "String"
					},
					{
						"name": "\"GPRS Product Code\"",
						"type": "String"
					},
					{
						"name": "\"Uplink Volume\"",
						"type": "String"
					},
					{
						"name": "\"Downlink Volume\"",
						"type": "String"
					},
					{
						"name": "\"Number of Contexts\"",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LN_BLOB_addufrain1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_Test1_BLOB_Zip')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LN_BLOB_addufrain1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Test1"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "D00533_263_Aerial_Subscribers_CC_Bar_Report_20201007130016.ZIP",
						"folderPath": "20201007zip",
						"container": "test1"
					},
					"columnDelimiter": ",",
					"compressionCodec": "ZipDeflate",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": ""
				},
				"schema": [
					{
						"name": "ICAO",
						"type": "String"
					},
					{
						"name": "IATA",
						"type": "String"
					},
					{
						"name": "MAKER",
						"type": "String"
					},
					{
						"name": "DESCRIPTION",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LN_BLOB_addufrain1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_Test1_BLOB_ZipFile')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LN_BLOB_addufrain1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Test1"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "zzztest1",
						"container": "test1"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LN_BLOB_addufrain1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_Test1_HTTP_ZipFile')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LN_HTTP_ZipFile",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Test1"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "HttpServerLocation"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LN_HTTP_ZipFile')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_Test1_ONPREM_Datastore_SubscriberCCBar')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LN_ONPREM_vmdevdb",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Test1"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "SubscriberCCBarID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Account",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CustomerName",
						"type": "varchar"
					},
					{
						"name": "Connections",
						"type": "int",
						"precision": 10
					},
					{
						"name": "TopCode",
						"type": "varchar"
					},
					{
						"name": "TopLevel",
						"type": "varchar"
					},
					{
						"name": "AccountUnderTopCode",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CCProcedure",
						"type": "varchar"
					},
					{
						"name": "CCStage",
						"type": "int",
						"precision": 10
					},
					{
						"name": "EventDescription",
						"type": "varchar"
					},
					{
						"name": "RaisedDateTime",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "ActRep",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ActRepDesc",
						"type": "varchar"
					},
					{
						"name": "CustomerType",
						"type": "varchar"
					},
					{
						"name": "BalanceToRecover",
						"type": "decimal",
						"precision": 10,
						"scale": 2
					},
					{
						"name": "AddedDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "RemovedDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "PI",
					"table": "SubscriberCCBar"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LN_ONPREM_vmdevdb')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_Test1_REST_ListOfFiles')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LN_REST_ListOfFiles",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Test1"
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LN_REST_ListOfFiles')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_Test1_SQL_DevDatahub')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LN_SQL_DevDatahub",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Test1"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Group_Code",
						"type": "nvarchar"
					},
					{
						"name": "Corporate_Code",
						"type": "nvarchar"
					},
					{
						"name": "Account_No",
						"type": "nvarchar"
					},
					{
						"name": "Agreement_No",
						"type": "nvarchar"
					},
					{
						"name": "Subscription_Number",
						"type": "nvarchar"
					},
					{
						"name": "Cost_Centre",
						"type": "nvarchar"
					},
					{
						"name": "Network_Serial_Number",
						"type": "nvarchar"
					},
					{
						"name": "Tariff",
						"type": "nvarchar"
					},
					{
						"name": "Call_class",
						"type": "nvarchar"
					},
					{
						"name": "Call_class_Description",
						"type": "nvarchar"
					},
					{
						"name": "Call_Landing_date",
						"type": "nvarchar"
					},
					{
						"name": "Dialed_Number",
						"type": "nvarchar"
					},
					{
						"name": "Call_date",
						"type": "nvarchar"
					},
					{
						"name": "Call_time",
						"type": "nvarchar"
					},
					{
						"name": "Bundled_Call",
						"type": "nvarchar"
					},
					{
						"name": "SP_Billed_Call_Price",
						"type": "nvarchar"
					},
					{
						"name": "Service",
						"type": "nvarchar"
					},
					{
						"name": "Pre_Bundle_Actual_Duration",
						"type": "nvarchar"
					},
					{
						"name": "Pre_Bundled_SP_Value",
						"type": "nvarchar"
					},
					{
						"name": "SP_Retail_Call_Price",
						"type": "nvarchar"
					},
					{
						"name": "Discount_Value",
						"type": "nvarchar"
					},
					{
						"name": "SCD_Country_of_Call_Origin",
						"type": "nvarchar"
					},
					{
						"name": "SCD_Call_Direction",
						"type": "nvarchar"
					},
					{
						"name": "SCD_Networks_Call_Indicator",
						"type": "nvarchar"
					},
					{
						"name": "GPRS_Destination",
						"type": "nvarchar"
					},
					{
						"name": "GPRS_Product_Code",
						"type": "nvarchar"
					},
					{
						"name": "Uplink_Volume",
						"type": "nvarchar"
					},
					{
						"name": "Downlink_Volume",
						"type": "nvarchar"
					},
					{
						"name": "Number_of_Contexts",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "test",
					"table": "Stage_CDR"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LN_SQL_DevDatahub')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LN_BLOB_addufrain1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('LN_BLOB_addufrain1_connectionString')]"
				},
				"connectVia": {
					"referenceName": "UKSouthRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/UKSouthRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LN_HTTP_PICDR_FileRef')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"parameters": {
					"PLN_FileRef": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "HttpServer",
				"typeProperties": {
					"url": "[parameters('LN_HTTP_PICDR_FileRef_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Basic",
					"userName": "[parameters('LN_HTTP_PICDR_FileRef_properties_typeProperties_userName')]",
					"password": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "LN_KV_DufrainVault",
							"type": "LinkedServiceReference"
						},
						"secretName": "O2-PI-UserPassword"
					}
				},
				"connectVia": {
					"referenceName": "UKSouthRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/UKSouthRuntime')]",
				"[concat(variables('factoryId'), '/linkedServices/LN_KV_DufrainVault')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LN_HTTP_ZipFile')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "HttpServer",
				"typeProperties": {
					"url": "[parameters('LN_HTTP_ZipFile_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Basic",
					"userName": "[parameters('LN_HTTP_ZipFile_properties_typeProperties_userName')]",
					"password": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "LN_KV_DufrainVault",
							"type": "LinkedServiceReference"
						},
						"secretName": "O2-PI-UserPassword"
					}
				},
				"connectVia": {
					"referenceName": "UKSouthRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/UKSouthRuntime')]",
				"[concat(variables('factoryId'), '/linkedServices/LN_KV_DufrainVault')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LN_KV_DufrainVault')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('LN_KV_DufrainVault_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LN_ONPREM_vmdevdb')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('LN_ONPREM_vmdevdb_connectionString')]",
					"userName": "[parameters('LN_ONPREM_vmdevdb_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('LN_ONPREM_vmdevdb_password')]"
					}
				},
				"connectVia": {
					"referenceName": "OnPremRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/OnPremRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LN_REST_ListOfFiles')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('LN_REST_ListOfFiles_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Basic",
					"userName": "[parameters('LN_REST_ListOfFiles_properties_typeProperties_userName')]",
					"password": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "LN_KV_DufrainVault",
							"type": "LinkedServiceReference"
						},
						"secretName": "O2-PI-UserPassword"
					}
				},
				"connectVia": {
					"referenceName": "UKSouthRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/UKSouthRuntime')]",
				"[concat(variables('factoryId'), '/linkedServices/LN_KV_DufrainVault')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LN_REST_PICDR_FileList')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"parameters": {
					"PLN_ImportDate": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('LN_REST_PICDR_FileList_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Basic",
					"userName": "[parameters('LN_REST_PICDR_FileList_properties_typeProperties_userName')]",
					"password": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "LN_KV_DufrainVault",
							"type": "LinkedServiceReference"
						},
						"secretName": "O2-PI-UserPassword"
					}
				},
				"connectVia": {
					"referenceName": "UKSouthRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/UKSouthRuntime')]",
				"[concat(variables('factoryId'), '/linkedServices/LN_KV_DufrainVault')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LN_SQL_DevDatahub')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('LN_SQL_DevDatahub_connectionString')]",
					"password": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "LN_KV_DufrainVault",
							"type": "LinkedServiceReference"
						},
						"secretName": "dev-db-password"
					}
				},
				"connectVia": {
					"referenceName": "UKSouthRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/UKSouthRuntime')]",
				"[concat(variables('factoryId'), '/linkedServices/LN_KV_DufrainVault')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/OnPremRuntime')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"description": "Our on premise runtime",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/UKSouthRuntime')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "Managed",
				"description": "Our primary runtime",
				"typeProperties": {
					"computeProperties": {
						"location": "UK South",
						"dataFlowProperties": {
							"computeType": "General",
							"coreCount": 8,
							"timeToLive": 0
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_BLOB_PICDR_ZipSource')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LN_BLOB_addufrain1",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"PDS_FileName": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Dev_PICDR"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@concat(dataset().PDS_FileName, '.ZIP')",
							"type": "Expression"
						},
						"folderPath": "filezip",
						"container": "picdr"
					},
					"columnDelimiter": ",",
					"compressionCodec": "ZipDeflate",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": ""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LN_BLOB_addufrain1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_BLOB_PICDR_CsvSink')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LN_BLOB_addufrain1",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"PDS_FileName": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Dev_PICDR"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@concat(dataset().PDS_FileName, '.CSV')",
							"type": "Expression"
						},
						"folderPath": "filecsv",
						"container": "picdr"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": ""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LN_BLOB_addufrain1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/zzz4')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "File Load Definition",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Get File List",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE [staging].[FileLoadDefinition]",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "$['fileRefID']"
										},
										"sink": {
											"name": "FileRefID",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['fileName']"
										},
										"sink": {
											"name": "FileName",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['importDate']"
										},
										"sink": {
											"name": "ImportDate",
											"type": "DateTime"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "DS_BLOB_PICDR_FileList",
								"type": "DatasetReference",
								"parameters": {
									"PDS_FileList": {
										"value": "@pipeline().parameters.PPL_ImportDate",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_SQL_PICDR_LoadDefinition",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Derived Column",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "File Load Definition",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[staging].[usp_DerivedColumn]"
						},
						"linkedServiceName": {
							"referenceName": "LN_SQL_DevDatahub",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Filter On New Files",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Derived Column",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT * FROM [staging].[FileLoadDefinition]\nWHERE FileRefID NOT IN (SELECT FileRefID FROM [staging].[FileLog])",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_SQL_PICDR_LoadDefinition",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "File Iteration",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Filter On New Files",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Filter On New Files').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Zip to Csv",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "Get Zip File",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings",
												"compressionProperties": {
													"type": "ZipDeflateReadSettings",
													"preserveZipFileNameAsFolder": false
												}
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "DS_BLOB_PICDR_ZipSource",
											"type": "DatasetReference",
											"parameters": {
												"PDS_FileName": {
													"value": "@{item().FileName}",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DS_BLOB_PICDR_CsvSink",
											"type": "DatasetReference",
											"parameters": {
												"PDS_FileName": {
													"value": "@{item().FileName}",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "Get Zip File",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "BinarySource",
											"storeSettings": {
												"type": "HttpReadSettings",
												"requestMethod": "GET"
											},
											"formatSettings": {
												"type": "BinaryReadSettings"
											}
										},
										"sink": {
											"type": "BinarySink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "DS_HTTP_PICDR_FileRef",
											"type": "DatasetReference",
											"parameters": {
												"PDS_FileRef": {
													"value": "@{item().FileRefID}",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DS_BLOB_PICDR_ZipSink",
											"type": "DatasetReference",
											"parameters": {
												"PDS_FileName": {
													"value": "@{item().FileName}",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					},
					{
						"name": "Get File List",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET"
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "DS_REST_PICDR_FileList",
								"type": "DatasetReference",
								"parameters": {
									"PDS_ImportDate": {
										"value": "@pipeline().parameters.PPL_ImportDate",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_BLOB_PICDR_FileList",
								"type": "DatasetReference",
								"parameters": {
									"PDS_FileList": {
										"value": "@pipeline().parameters.PPL_ImportDate",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"parameters": {
					"PPL_ImportDate": {
						"type": "string"
					},
					"PPL_RunID": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Dev_PICDR"
				},
				"annotations": [],
				"lastPublishTime": "2020-10-18T17:03:27Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_BLOB_PICDR_FileList')]",
				"[concat(variables('factoryId'), '/datasets/DS_SQL_PICDR_LoadDefinition')]",
				"[concat(variables('factoryId'), '/linkedServices/LN_SQL_DevDatahub')]",
				"[concat(variables('factoryId'), '/datasets/DS_REST_PICDR_FileList')]",
				"[concat(variables('factoryId'), '/datasets/DS_BLOB_PICDR_ZipSource')]",
				"[concat(variables('factoryId'), '/datasets/DS_BLOB_PICDR_CsvSink')]",
				"[concat(variables('factoryId'), '/datasets/DS_HTTP_PICDR_FileRef')]",
				"[concat(variables('factoryId'), '/datasets/DS_BLOB_PICDR_ZipSink')]"
			]
		}
	]
}