pipeline/PICDR Load Agg.json
{
	"name": "PICDR Load Agg",
	"properties": {
		"description": "All type sequential",
		"activities": [
			{
				"name": "Load - CDR Agg Month Inc",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[cdr].[usp_LoadCDRAggMonthInc]",
						"storedProcedureParameters": {
							"PipelineRunID": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.PPL_RunID",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_SQL_Generic",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Datastore Log - CDR Agg Month Inc",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Load - CDR Agg Month Inc",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[cdr].[usp_DataStoreCdrLog]",
					"storedProcedureParameters": {
						"Actions": {
							"value": {
								"value": "@{activity('Load - CDR Agg Month Inc').output.firstRow.actions}",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"ComponentName": {
							"value": {
								"value": "PICDR Agg Month Inc",
								"type": "Expression"
							},
							"type": "String"
						},
						"ErrorMessage": {
							"value": {
								"value": "@{activity('Load - CDR Agg Month Inc').output.firstRow.ErrorMessage}",
								"type": "Expression"
							},
							"type": "String"
						},
						"ErrorNumber": {
							"value": {
								"value": "@{activity('Load - CDR Agg Month Inc').output.firstRow.ErrorNumber}",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"FileSeqno": {
							"value": {
								"value": "@{item().FileSeqNo}",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"ImportDate": {
							"value": {
								"value": "@{item().ImportDate}",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"Inserts": {
							"value": {
								"value": "@{activity('Load - CDR').output.firstRow.inserts}",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"InsertTime": {
							"value": {
								"value": "@utcnow()",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"PipelineRunID": {
							"value": {
								"value": "@pipeline().parameters.PPL_RunID",
								"type": "Expression"
							},
							"type": "String"
						},
						"TableName": {
							"value": {
								"value": "@{item().SinkTable}",
								"type": "Expression"
							},
							"type": "String"
						},
						"Updates": {
							"value": {
								"value": "@{activity('Load - CDR').output.firstRow.updates}",
								"type": "Expression"
							},
							"type": "Int32"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LN_SQL_DevDatahub",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"PPL_RunID": {
				"type": "string"
			}
		},
		"folder": {
			"name": "Dev_PICDR"
		},
		"annotations": [],
		"lastPublishTime": "2020-10-18T17:03:27Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}