pipeline/PICDR Test ZIP Existence.json
{
	"name": "PICDR Test ZIP Existence",
	"properties": {
		"activities": [
			{
				"name": "File Load Definition",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Get File List",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "TRUNCATE TABLE [staging].[FileLoadDefinition]",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "$['fileRefID']"
								},
								"sink": {
									"name": "FileRefID",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['fileName']"
								},
								"sink": {
									"name": "FileName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['importDate']"
								},
								"sink": {
									"name": "ImportDate",
									"type": "DateTime"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "DS_BLOB_PICDR_FileList",
						"type": "DatasetReference",
						"parameters": {
							"PDS_FileList": {
								"value": "@pipeline().parameters.PPL_ImportDate",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_SQL_PICDR_LoadDefinition",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Derived Column",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "File Load Definition",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[staging].[usp_DerivedColumn]"
				},
				"linkedServiceName": {
					"referenceName": "LN_SQL_DevDatahub",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Get Files",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Derived Column",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT * FROM [staging].[FileLoadDefinition]\n",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_SQL_PICDR_LoadDefinition",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "File Iteration",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Files').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Get Zip File",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "BinarySource",
									"storeSettings": {
										"type": "HttpReadSettings",
										"requestMethod": "GET"
									},
									"formatSettings": {
										"type": "BinaryReadSettings"
									}
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "DS_HTTP_PICDR_FileRef",
									"type": "DatasetReference",
									"parameters": {
										"PDS_FileRef": {
											"value": "@{item().FileRefID}",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_BLOB_PICDR_ZipSink",
									"type": "DatasetReference",
									"parameters": {
										"PDS_FileName": {
											"value": "@{item().FileName}",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Get File List",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET"
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "DS_REST_PICDR_FileList",
						"type": "DatasetReference",
						"parameters": {
							"PDS_ImportDate": {
								"value": "@pipeline().parameters.PPL_ImportDate",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_BLOB_PICDR_FileList",
						"type": "DatasetReference",
						"parameters": {
							"PDS_FileList": {
								"value": "@pipeline().parameters.PPL_ImportDate",
								"type": "Expression"
							}
						}
					}
				]
			}
		],
		"parameters": {
			"PPL_ImportDate": {
				"type": "string"
			},
			"PPL_RunID": {
				"type": "string"
			}
		},
		"folder": {
			"name": "Dev_PICDR"
		},
		"annotations": [],
		"lastPublishTime": "2020-10-18T17:03:27Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}