pipeline/test_GetCurrentFilelist_Main.json
{
	"name": "test_GetCurrentFilelist_Main",
	"properties": {
		"activities": [
			{
				"name": "GetCurrentFilelist",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "test_GetCurrentFilelist",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"PPL_ImportDate": {
							"value": "@variables('CurrentDate')",
							"type": "Expression"
						},
						"PPL_RunID": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "GetCurrentDate",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "CurrentDate",
					"value": {
						"value": "select convert(varchar, getdate() - 1, 23)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "GetCurrentDate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "@variables('CurrentDate')",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_SQL_Generic",
						"type": "DatasetReference"
					}
				}
			}
		],
		"variables": {
			"CurrentDate": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Test1"
		},
		"annotations": [],
		"lastPublishTime": "2020-10-19T06:29:30Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}