pipeline/test proc err.json
{
	"name": "test proc err",
	"properties": {
		"activities": [
			{
				"name": "Lookup Proc",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "test.usp_ccproc",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_SQL_Generic",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "Log Entry",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Lookup Proc",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[pin].[usp_DataStorePinLog]",
					"storedProcedureParameters": {
						"Actions": {
							"value": {
								"value": "@{activity('Lookup Proc').output.firstRow.actions}",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"ComponentName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"ErrorMessage": {
							"value": null,
							"type": "String"
						},
						"ErrorNumber": {
							"value": null,
							"type": "Int32"
						},
						"ImportDate": {
							"value": null,
							"type": "DateTime"
						},
						"Inserts": {
							"value": {
								"value": "@{activity('Lookup Proc').output.firstRow.inserts}",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"InsertTime": {
							"value": {
								"value": "@utcnow()",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"PipelineRunID": {
							"value": null,
							"type": "String"
						},
						"TableName": {
							"value": null,
							"type": "String"
						},
						"Updates": {
							"value": {
								"value": "@{activity('Lookup Proc').output.firstRow.updates}",
								"type": "Expression"
							},
							"type": "Int32"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LN_SQL_DevDatahub",
					"type": "LinkedServiceReference"
				}
			}
		],
		"folder": {
			"name": "Test1"
		},
		"annotations": []
	}
}