pipeline/test_GetCurrentFilelist_Main.json
{
	"name": "test_GetCurrentFilelist_Main",
	"properties": {
		"activities": [
			{
				"name": "GetCurrentFilelist",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "GetCurrentDate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "test_GetCurrentFilelist",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"PPL_ImportDate": {
							"value": "@{variables('CurrentDate')}",
							"type": "Expression"
						},
						"PPL_RunID": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "GetCurrentDate",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "CurrentDate",
					"value": {
						"value": "select convert(varchar, getdate() - 1, 23)",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"CurrentDate": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Test1"
		},
		"annotations": [],
		"lastPublishTime": "2020-10-19T06:29:30Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}