dev-o2/PartialArmTemplates/ArmTemplate_11_16_2020_13_47_19.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "dev-o2"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/PICDR Load Agg Full')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "All type sequential",
				"activities": [
					{
						"name": "Load - CDR Agg Month Full",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[cdr].[usp_LoadCDRAggMonthFull]",
								"storedProcedureParameters": {
									"PipelineRunID": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.PPL_RunID",
											"type": "Expression"
										}
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_SQL_Generic",
								"type": "DatasetReference"
							}
						}
					},
					{
						"name": "Datastore Log - CDR Agg Month Full S",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Load - CDR Agg Month Full",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[cdr].[usp_DataStoreCdrLog]",
							"storedProcedureParameters": {
								"Actions": {
									"value": {
										"value": "@{activity('Load - CDR Agg Month Full').output.firstRow.actions}",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"ComponentName": {
									"value": {
										"value": "PICDR Agg Month Full",
										"type": "Expression"
									},
									"type": "String"
								},
								"ErrorMessage": {
									"value": null,
									"type": "String"
								},
								"ErrorNumber": {
									"value": null,
									"type": "Int32"
								},
								"FileSeqno": {
									"value": null,
									"type": "Int32"
								},
								"ImportDate": {
									"value": null,
									"type": "DateTime"
								},
								"Inserts": {
									"value": {
										"value": "@{activity('Load - CDR Agg Month Full').output.firstRow.inserts}",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"InsertTime": {
									"value": {
										"value": "@utcnow()",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"PipelineRunID": {
									"value": {
										"value": "@pipeline().parameters.PPL_RunID",
										"type": "Expression"
									},
									"type": "String"
								},
								"TableName": {
									"value": {
										"value": "CDRAggMonth",
										"type": "Expression"
									},
									"type": "String"
								},
								"Updates": {
									"value": {
										"value": "@{activity('Load - CDR Agg Month Full').output.firstRow.updates}",
										"type": "Expression"
									},
									"type": "Int32"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LN_SQL_DevDatahub",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Set Agg High Watermark",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Datastore Log - CDR Agg Month Full S",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[cdr].[usp_SetAggHighWatermark]",
							"storedProcedureParameters": {
								"PipelineRunID": {
									"value": {
										"value": "@pipeline().parameters.PPL_RunID",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LN_SQL_DevDatahub",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Datastore Log - CDR Agg Month Full F",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Load - CDR Agg Month Full",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[cdr].[usp_DataStoreCdrLog]",
							"storedProcedureParameters": {
								"Actions": {
									"value": {
										"value": "@{activity('Load - CDR Agg Month Full').output.firstRow.actions}",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"ComponentName": {
									"value": {
										"value": "PICDR Agg Month Full",
										"type": "Expression"
									},
									"type": "String"
								},
								"ErrorMessage": {
									"value": {
										"value": "@{activity('Load - CDR Agg Month Full').output.firstRow.ErrorMessage}",
										"type": "Expression"
									},
									"type": "String"
								},
								"ErrorNumber": {
									"value": {
										"value": "@{activity('Load - CDR Agg Month Full').output.firstRow.ErrorNumber}",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"FileSeqno": {
									"value": null,
									"type": "Int32"
								},
								"ImportDate": {
									"value": null,
									"type": "DateTime"
								},
								"Inserts": {
									"value": {
										"value": "@{activity('Load - CDR Agg Month Full').output.firstRow.inserts}",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"InsertTime": {
									"value": {
										"value": "@utcnow()",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"PipelineRunID": {
									"value": {
										"value": "@pipeline().parameters.PPL_RunID",
										"type": "Expression"
									},
									"type": "String"
								},
								"TableName": {
									"value": {
										"value": "CDRAggMonth",
										"type": "Expression"
									},
									"type": "String"
								},
								"Updates": {
									"value": {
										"value": "@{activity('Load - CDR Agg Month Full').output.firstRow.updates}",
										"type": "Expression"
									},
									"type": "Int32"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LN_SQL_DevDatahub",
							"type": "LinkedServiceReference"
						}
					}
				],
				"parameters": {
					"PPL_RunID": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Dev_PICDR"
				},
				"annotations": [],
				"lastPublishTime": "2020-10-18T17:03:27Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PICDR Main Run Par Agg Full')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "PICDR Load Datastore Par",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Create ETL Log Entry",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PICDR Load Datastore Par",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"PPL_ImportDate": {
									"value": "@pipeline().parameters.PPL_ImportDateMaster",
									"type": "Expression"
								},
								"PPL_RunID": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Create ETL Log Entry",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[logging].[usp_InsertEtlLog]",
								"storedProcedureParameters": {
									"ComponentName": {
										"type": "String",
										"value": {
											"value": "PICDR Load Datastore Par",
											"type": "Expression"
										}
									},
									"DurationSeconds": {
										"type": "Int32",
										"value": null
									},
									"EndTime": {
										"type": "DateTime",
										"value": null
									},
									"ErrorMessage": {
										"type": "String",
										"value": null
									},
									"PipelineName": {
										"type": "String",
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										}
									},
									"PipelineRunID": {
										"type": "String",
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										}
									},
									"StartTime": {
										"type": "DateTime",
										"value": {
											"value": "@utcnow()",
											"type": "Expression"
										}
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_SQL_Generic",
								"type": "DatasetReference"
							}
						}
					},
					{
						"name": "Update ETL Log Entry Success",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Check Seq No Success",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[logging].[usp_UpdateEtlLog]",
							"storedProcedureParameters": {
								"DurationSeconds": {
									"value": null,
									"type": "Int32"
								},
								"EndTime": {
									"value": {
										"value": "@utcnow()",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"ErrorMessage": {
									"value": null,
									"type": "String"
								},
								"EtlLogId": {
									"value": {
										"value": "@activity('Create ETL Log Entry').output.firstRow.EtlLogId",
										"type": "Expression"
									},
									"type": "Int32"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LN_SQL_DevDatahub",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Update ETL Log Entry Failure",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Check Seq No Failure",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[logging].[usp_UpdateEtlLog]",
							"storedProcedureParameters": {
								"DurationSeconds": {
									"value": null,
									"type": "Int32"
								},
								"EndTime": {
									"value": {
										"value": "@utcnow()",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"ErrorMessage": {
									"value": {
										"value": "ERR Run - see detailed log",
										"type": "Expression"
									},
									"type": "String"
								},
								"EtlLogId": {
									"value": {
										"value": "@activity('Create ETL Log Entry').output.firstRow.EtlLogId",
										"type": "Expression"
									},
									"type": "Int32"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LN_SQL_DevDatahub",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Check Seq No Success",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "PICDR Load Datastore Par",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[staging].[usp_CheckSeqNo]"
						},
						"linkedServiceName": {
							"referenceName": "LN_SQL_DevDatahub",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Check Seq No Failure",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "PICDR Load Datastore Par",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[staging].[usp_CheckSeqNo]"
						},
						"linkedServiceName": {
							"referenceName": "LN_SQL_DevDatahub",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Create ETL Log Entry Agg 1",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Update ETL Log Entry Success",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[logging].[usp_InsertEtlLog]",
								"storedProcedureParameters": {
									"ComponentName": {
										"type": "String",
										"value": {
											"value": "PICDR Load Agg Full",
											"type": "Expression"
										}
									},
									"DurationSeconds": {
										"type": "Int32",
										"value": null
									},
									"EndTime": {
										"type": "DateTime",
										"value": null
									},
									"ErrorMessage": {
										"type": "String",
										"value": null
									},
									"PipelineName": {
										"type": "String",
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										}
									},
									"PipelineRunID": {
										"type": "String",
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										}
									},
									"StartTime": {
										"type": "DateTime",
										"value": {
											"value": "@utcnow()",
											"type": "Expression"
										}
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_SQL_Generic",
								"type": "DatasetReference"
							}
						}
					},
					{
						"name": "PICDR Load Agg Full 1",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Create ETL Log Entry Agg 1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PICDR Load Agg Full",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"PPL_RunID": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Update ETL Log Entry Agg Success 1",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "PICDR Load Agg Full 1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[logging].[usp_UpdateEtlLog]",
							"storedProcedureParameters": {
								"DurationSeconds": {
									"value": null,
									"type": "Int32"
								},
								"EndTime": {
									"value": {
										"value": "@utcnow()",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"ErrorMessage": {
									"value": null,
									"type": "String"
								},
								"EtlLogId": {
									"value": {
										"value": "@activity('Create ETL Log Entry Agg 1').output.firstRow.EtlLogId",
										"type": "Expression"
									},
									"type": "Int32"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LN_SQL_DevDatahub",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Update ETL Log Entry Agg Failure 1",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "PICDR Load Agg Full 1",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[logging].[usp_UpdateEtlLog]",
							"storedProcedureParameters": {
								"DurationSeconds": {
									"value": null,
									"type": "Int32"
								},
								"EndTime": {
									"value": {
										"value": "@utcnow()",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"ErrorMessage": {
									"value": {
										"value": "ERR Run - see detailed log",
										"type": "Expression"
									},
									"type": "String"
								},
								"EtlLogId": {
									"value": {
										"value": "@activity('Create ETL Log Entry Agg 1').output.firstRow.EtlLogId",
										"type": "Expression"
									},
									"type": "Int32"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LN_SQL_DevDatahub",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Create ETL Log Entry Agg 2",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Update ETL Log Entry Failure",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[logging].[usp_InsertEtlLog]",
								"storedProcedureParameters": {
									"ComponentName": {
										"type": "String",
										"value": {
											"value": "PICDR Load Agg Full",
											"type": "Expression"
										}
									},
									"DurationSeconds": {
										"type": "Int32",
										"value": null
									},
									"EndTime": {
										"type": "DateTime",
										"value": null
									},
									"ErrorMessage": {
										"type": "String",
										"value": null
									},
									"PipelineName": {
										"type": "String",
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										}
									},
									"PipelineRunID": {
										"type": "String",
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										}
									},
									"StartTime": {
										"type": "DateTime",
										"value": {
											"value": "@utcnow()",
											"type": "Expression"
										}
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_SQL_Generic",
								"type": "DatasetReference"
							}
						}
					},
					{
						"name": "PICDR Load Agg Full 2",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Create ETL Log Entry Agg 2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PICDR Load Agg Full",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"PPL_RunID": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Update ETL Log Entry Agg Success 2",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "PICDR Load Agg Full 2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[logging].[usp_UpdateEtlLog]",
							"storedProcedureParameters": {
								"DurationSeconds": {
									"value": null,
									"type": "Int32"
								},
								"EndTime": {
									"value": {
										"value": "@utcnow()",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"ErrorMessage": {
									"value": null,
									"type": "String"
								},
								"EtlLogId": {
									"value": {
										"value": "@activity('Create ETL Log Entry Agg 2').output.firstRow.EtlLogId",
										"type": "Expression"
									},
									"type": "Int32"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LN_SQL_DevDatahub",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Update ETL Log Entry Agg Failure 2",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "PICDR Load Agg Full 2",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[logging].[usp_UpdateEtlLog]",
							"storedProcedureParameters": {
								"DurationSeconds": {
									"value": null,
									"type": "Int32"
								},
								"EndTime": {
									"value": {
										"value": "@utcnow()",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"ErrorMessage": {
									"value": {
										"value": "ERR Run - see detailed log",
										"type": "Expression"
									},
									"type": "String"
								},
								"EtlLogId": {
									"value": {
										"value": "@activity('Create ETL Log Entry Agg 2').output.firstRow.EtlLogId",
										"type": "Expression"
									},
									"type": "Int32"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LN_SQL_DevDatahub",
							"type": "LinkedServiceReference"
						}
					}
				],
				"parameters": {
					"PPL_ImportDateMaster": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Dev_PICDR"
				},
				"annotations": [],
				"lastPublishTime": "2020-10-19T06:29:30Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/PICDR Load Agg Full')]"
			]
		}
	]
}