dev-o2/PartialArmTemplates/ArmTemplate_11_2_2020_16_11_35.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "dev-o2"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/test proc err')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup Proc",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "test.usp_ccproc",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_SQL_Generic",
								"type": "DatasetReference"
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Log Entry",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Lookup Proc",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[pin].[usp_DataStorePinLog]",
							"storedProcedureParameters": {
								"Actions": {
									"value": {
										"value": "activity('Lookup Proc').output.actions",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"ComponentName": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"ErrorMessage": {
									"value": {
										"value": "{activity('Lookup Proc').output.ErrorMessage}",
										"type": "Expression"
									},
									"type": "String"
								},
								"ErrorNumber": {
									"value": {
										"value": "{activity('Lookup Proc').output.ErrorNumber}",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"ImportDate": {
									"value": null,
									"type": "DateTime"
								},
								"Inserts": {
									"value": {
										"value": "@activity('Lookup Proc').output.inserts",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"InsertTime": {
									"value": {
										"value": "@utcnow()",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"PipelineRunID": {
									"value": null,
									"type": "String"
								},
								"TableName": {
									"value": null,
									"type": "String"
								},
								"Updates": {
									"value": {
										"value": "@activity('Lookup Proc').output.updates",
										"type": "Expression"
									},
									"type": "Int32"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LN_SQL_DevDatahub",
							"type": "LinkedServiceReference"
						}
					}
				],
				"folder": {
					"name": "Test1"
				},
				"annotations": []
			},
			"dependsOn": []
		}
	]
}