dev-o2/PartialArmTemplates/ArmTemplate_11_3_2020_6_49_48.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "dev-o2"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/PICDR Test ZIP Existence')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "File Load Definition",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Get File List",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE [staging].[FileLoadDefinition]",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "$['fileRefID']"
										},
										"sink": {
											"name": "FileRefID",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['fileName']"
										},
										"sink": {
											"name": "FileName",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['importDate']"
										},
										"sink": {
											"name": "ImportDate",
											"type": "DateTime"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "DS_BLOB_PICDR_FileList",
								"type": "DatasetReference",
								"parameters": {
									"PDS_FileList": {
										"value": "@pipeline().parameters.PPL_ImportDate",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_SQL_PICDR_LoadDefinition",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Derived Column",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "File Load Definition",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[staging].[usp_DerivedColumn]"
						},
						"linkedServiceName": {
							"referenceName": "LN_SQL_DevDatahub",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Get Files",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Derived Column",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT * FROM [staging].[FileLoadDefinition]\n",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_SQL_PICDR_LoadDefinition",
								"type": "DatasetReference"
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "File Iteration",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Get Files",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get Files').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Get Zip File",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "BinarySource",
											"storeSettings": {
												"type": "HttpReadSettings",
												"requestMethod": "GET"
											},
											"formatSettings": {
												"type": "BinaryReadSettings"
											}
										},
										"sink": {
											"type": "BinarySink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "DS_HTTP_PICDR_FileRef",
											"type": "DatasetReference",
											"parameters": {
												"PDS_FileRef": {
													"value": "@{item().FileRefID}",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DS_BLOB_PICDR_ZipSink",
											"type": "DatasetReference",
											"parameters": {
												"PDS_FileName": {
													"value": "@{item().FileName}",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					},
					{
						"name": "Get File List",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET"
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "DS_REST_PICDR_FileList",
								"type": "DatasetReference",
								"parameters": {
									"PDS_ImportDate": {
										"value": "@pipeline().parameters.PPL_ImportDate",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_BLOB_PICDR_FileList",
								"type": "DatasetReference",
								"parameters": {
									"PDS_FileList": {
										"value": "@pipeline().parameters.PPL_ImportDate",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"parameters": {
					"PPL_ImportDate": {
						"type": "string"
					},
					"PPL_RunID": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Dev_PICDR"
				},
				"annotations": [],
				"lastPublishTime": "2020-10-18T17:03:27Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/test proc err')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup Proc",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "test.usp_ccproc",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_SQL_Generic",
								"type": "DatasetReference"
							},
							"firstRowOnly": true
						}
					},
					{
						"name": "Log Entry",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Lookup Proc",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[pin].[usp_DataStorePinLog]",
							"storedProcedureParameters": {
								"Actions": {
									"value": {
										"value": "@{activity('Lookup Proc').output.firstRow.actions}",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"ComponentName": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"ErrorMessage": {
									"value": {
										"value": "@{activity('Lookup Proc').output.firstRow.ErrorMessage}",
										"type": "Expression"
									},
									"type": "String"
								},
								"ErrorNumber": {
									"value": {
										"value": "@{activity('Lookup Proc').output.firstRow.ErrorNumber}",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"ImportDate": {
									"value": null,
									"type": "DateTime"
								},
								"Inserts": {
									"value": {
										"value": "@{activity('Lookup Proc').output.firstRow.inserts}",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"InsertTime": {
									"value": {
										"value": "@utcnow()",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"PipelineRunID": {
									"value": null,
									"type": "String"
								},
								"TableName": {
									"value": null,
									"type": "String"
								},
								"Updates": {
									"value": {
										"value": "@{activity('Lookup Proc').output.firstRow.updates}",
										"type": "Expression"
									},
									"type": "Int32"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LN_SQL_DevDatahub",
							"type": "LinkedServiceReference"
						}
					}
				],
				"folder": {
					"name": "Test1"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/test_pipe')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy to staging table",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Truncate staging table",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": "WITH ContractEventLinks AS \n(\n\tSELECT \n\t\tContractID\n\t\t,EventTypeID\n\t\t,EventDateTime \n\tFROM [Evolution].[Crm].[ContractEventLink]  \n\tWHERE EventTypeID IN (3, 4)\n)\n,ContractCosts AS\n(\n\tSELECT\n\t\tContractProductID\n\t\t,CostTypeID\n\t\t,Amount\n\t\t,AffectsHardwareFund\n\tFROM [Evolution].[Crm].[ContractCost] \n\tWHERE RemovedDate IS NULL AND (CostTypeID IN (8, 2, 9, 34, 35, 36, 37, 38, 39) OR AffectsHardwareFund = 1)\n)\n,SBIDates AS\n(\n\tSELECT\n\t\tUSI\n\t\t,MPN\n\t\t,rp.AccountNumber\n\t\t,MAX(p.PeriodDate) SBIDate\n\tFROM [Evolution].[SBI].[Period] p \n\tINNER JOIN [Evolution].[SBI].[FileGroup] fg  ON p.PeriodID = fg.PeriodID\n\tINNER JOIN [Evolution].[SBI].[File] f  ON fg.FileGroupID = f.FileGroupID\n\tINNER JOIN [Evolution].[SBI].[Summary] s  ON s.FileID = f.FileID\n\tINNER JOIN [Evolution].[SBI].[RevsharePayment] rp  ON rp.SummaryID = s.SummaryID\n\tGROUP BY USI, MPN, rp.AccountNumber\n)\n,Tariffs AS\n(\n\tSELECT\n\t\tcp.ContractID\n\t\t,cp.ContractProductID\n\t\t,pr.[Name] AS TariffName\n\t\t,gr.[Name] AS TariffGroup\n\t\t,dp.RevsharePct\n\t\t,dp.UpgradeTariff\n\t\t,ta.Legacy\n\tFROM [Evolution].[Crm].[ContractProduct] cp \n\tINNER JOIN [Evolution].[Product].[DistributorProduct] dp  ON dp.DistributorProductID = cp.DistributorProductID\n\tINNER JOIN [Evolution].[Product].[Product] pr  ON pr.ProductID = dp.ProductID\n\tINNER JOIN [Evolution].[Product].[Group] gr  ON gr.GroupID = pr.GroupID AND gr.ProductTypeID = 1\n\tLEFT JOIN --get the most recent version of tariff(?)\n\t(\n\t\tSELECT\n\t\tTariffCode, PackageCode, Legacy, ROW_NUMBER() OVER (PARTITION BY TariffCode, PackageCode ORDER BY TariffID DESC) AS RowNum\n\t\tFROM Evolution.EService.Tariff \n\t\tWHERE [Version] = (SELECT TOP 1 [Version] FROM Evolution.EService.Tariff  WHERE [Version] IS NOT NULL ORDER BY 1 DESC)\n\t) ta ON ta.TariffCode = dp.TariffCode AND ta.PackageCode = dp.PackageCode AND ta.RowNum = 1\n\tWHERE cp.RemovedDate IS NULL\n), preAgg AS (\n\n\n\tSELECT  \n\t\tc.ContractID\n\t\t,c.CustomerID\n\t\t,try_cast(c.ContractNumber as BIGINT) [MPN]\n\t\t,c.SalesPersonEmployeeID\n\t\t,case when tt.ConnectionTypeID = 8 then 1 else 0 end as VoiceTarrif\n\t\t,cd.DateSold\n\t\t,cd.DateCompleted\n\t\t,g.Name [GradeStatus]\n\t\t,e.EmployeeID\n\t\t,e.FirstName\n\t\t,e.LastName\n\t\t,d.Name deptName\n\t\t,cc.Amount Revshare\n\t\t,t.RevsharePCT\n\t\t,case when t.RevsharePCT = 56.00 then 1 else 0 end as isAdvanceable\n\t\t,t.TariffName\n\n\tFROM Evolution.[Crm].[Contract] c\n\tleft join [Datastore].[Store].[ContractDate] cd on cd.ContractID = c.ContractID\n\tleft join Evolution.[HR].[Employee] e on e.EmployeeID = c.SalesPersonEmployeeID\n\tleft join [Evolution].[HR].[EmployeeDepartmentLink] edl on edl.EmployeeID = e.EmployeeID\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\tand edl.StartDate <= c.DateSold\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\tand (edl.EndDate is null or edl.EndDate > c.DateSold) --which department was the employee in at the point of sale\n\tleft join Evolution.hr.Department d on edl.DepartmentID = d.DepartmentID\n\tleft join Tariffs t on t.ContractID = c.ContractID\n\tleft join ContractCosts cc on cc.ContractProductID = t.ContractProductID\n\t\t\t\t\t\t\t\tand cc.CostTypeID = 9\n\tleft join [Evolution].[Crm].[TariffType] tt on tt.TariffTypeID = c.TariffTypeID\n\tleft join [Evolution].[Crm].[ProvisioningStatus] ps on ps.ProvisioningStatusID = c.ProvisioningStatusID\n\tleft JOIN [Evolution].[Crm].[Grade] g  ON g.GradeID = ps.GradeID\n\n\t--where c.DateSold BETWEEN '2020-09-01 00:00:00.0000000' AND '2020-09-10 23:59:59.0000000'\n\t--where COALESCE(cd.DateCompleted,c.DateSold) BETWEEN '2020-09-01 00:00:00.0000000' AND '2020-09-10 00:00:00.0000000'\n\n)\nselect  * from preAgg\n",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ContractID",
											"type": "Int32"
										},
										"sink": {
											"name": "ContractID",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "CustomerID",
											"type": "Int32"
										},
										"sink": {
											"name": "CustomerID",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "SalesPersonEmployeeID",
											"type": "Int32"
										},
										"sink": {
											"name": "SalesPersonEmployeeID",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "VoiceTarrif",
											"type": "Int32"
										},
										"sink": {
											"name": "VoiceTarrif",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "DateSold",
											"type": "DateTime"
										},
										"sink": {
											"name": "DateSold",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "DateCompleted",
											"type": "DateTime"
										},
										"sink": {
											"name": "DateCompleted",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "GradeStatus",
											"type": "String"
										},
										"sink": {
											"name": "GradeStatus",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "EmployeeID",
											"type": "Int32"
										},
										"sink": {
											"name": "EmployeeID",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "FirstName",
											"type": "String"
										},
										"sink": {
											"name": "FirstName",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "LastName",
											"type": "String"
										},
										"sink": {
											"name": "LastName",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "deptName",
											"type": "String"
										},
										"sink": {
											"name": "deptName",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Revshare",
											"type": "Decimal"
										},
										"sink": {
											"name": "Revshare",
											"type": "Double"
										}
									},
									{
										"source": {
											"name": "RevsharePCT",
											"type": "Decimal"
										},
										"sink": {
											"name": "RevsharePCT",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "isAdvanceable",
											"type": "Int32"
										},
										"sink": {
											"name": "isAdvanceable",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "TariffName",
											"type": "String"
										},
										"sink": {
											"name": "TariffName",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "MPN",
											"type": "Int64"
										},
										"sink": {
											"name": "MPN",
											"type": "Int64"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "OnPremSQLGeneric",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "AzureDevDataBase",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Truncate staging table",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[KPI].[Truncate_KPI_Staging]"
						},
						"linkedServiceName": {
							"referenceName": "LN_SQL_DevDatahub",
							"type": "LinkedServiceReference"
						}
					}
				],
				"folder": {
					"name": "Dev_KPI"
				},
				"annotations": []
			},
			"dependsOn": []
		}
	]
}